﻿@model CorporatePortal.Models.CardLoad.ActivateGetCardholderTypePageModel

@{
    ViewBag.Title = "GetCardholder";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Activate card for new or existing card holder</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("GetCardholder", "Manage",
                       new { ReturnUrl = ViewBag.ReturnUrl },
                       FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })

                    <div class="form-group">
                        <label for="business" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Please select :
                        </label>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("cardholderType", Model.cardholderTypeList, new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.cardholderType, new { id = "cardholdertypevalue" })
                    @Html.HiddenFor(model => model.cardProxyId)
                    @Html.HiddenFor(model => model.productCode)
                }

            </div>
        </div>
    </div>
</div>

<script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //$("#btn").click(function () {
        //    alert();
        //    var option = $('#cardholdertype option:selected').text();
        //    alert(option);
        //    if (option == "New") {
        //        $('#newcardholder').show();
        //        $('#existingcardholder').hide();
        //    }

        //    if (option == "Existing") {
        //        $('#existingcardholder').show();
        //        $('#newcardholder').hide();
        //    }

        //});

        $("#cardholderType").on("change", function () {

            $('#cardholdertypevalue').val = $('#cardholdertype option:selected').text();
            $('form').submit();

        });


    });
</script>





