﻿@model CorporatePortal.Models.CardLoad.GetExistingCardholderPageModel

@{
    ViewBag.Title = "GetExistingCardholder";
    Layout = "~/Views/Shared/_Reports.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Search for existing card holder</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("GetExistingCardholder", "Manage",
                       new { ReturnUrl = ViewBag.ReturnUrl },
                       FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })

                    <div class="form-group">
                        <label for="business" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Please select search by username or email:
                        </label>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("searchType", Model.searchTypes, new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Enter a value :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.searchValue, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            @Html.ValidationMessageFor(model => model.searchValue, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-info">Submit</button>
                            @*<a class="btn btn-success" href="~/Product/Index">Back</a>*@
                        </div>
                    </div>

                    @Html.HiddenFor(model => model.cardProxyId)
                    @Html.HiddenFor(model => model.productCode)
                }

            </div>
        </div>
    </div>
</div>
