﻿@model CorporatePortal.Models.CardLoad.InstantIssueModel
@{
    ViewBag.Title = "InstantIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .validation-summary-errors ul {
        list-style-type: none;
        font-weight: bold
    }
</style>

<h2>InstantIssue</h2>


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("InstantIssue", "Manage",
                       new { ReturnUrl = ViewBag.ReturnUrl },
                       FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Enter PAN :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.PAN, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-info">Submit</button>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>