﻿
@model CorporatePortal.Models.Report.CardholderBySpendProfilePageModel
@{
    ViewBag.Title = "Cardholders";
    Layout = "~/Views/Shared/_Reports.cshtml";
}
<style>
    .dataTable {
        table-layout: fixed;
        width: 100%;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 20px;
    }
    .overlay {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        z-index: 100;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
    }
</style>

<div>
    <div class="">
        <h3>Cardholders<small></small></h3>
        <div class="clearfix"></div>
        <br />
        <div class="row">

            <div class="col-md-6">
                <b> Spend Profiles</b>
            </div>

           

        </div>
        <div class="row">
            <div class="col-md-6">
                @Html.DropDownList("SpendProfile", Model.SpendProfiles, new { @class = "form-control" })
            </div>
            @*<div class="col-md-6">
                <div id="reportrange1" class="" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">                
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>September 12, 2018 - October 11, 2018</span> <b class="caret"></b>
                </div>
            </div>*@

        </div>
    </div>
</div>
<div id="loaderDiv" class="overlay">
    <div class="loading-image">
        <img src="~/Assets/PortalLayout1/build/images/loading.gif" />
    </div>

</div>

@using (Html.BeginForm("Cardholders", "Reports"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.StartDate, new { id = "startDateForm" })
    @Html.HiddenFor(m => m.EndDate, new { id = "endDateForm" })
    @Html.HiddenFor(m => m.SpendProfileId, new { id = "spendProfileId" })
    @Html.HiddenFor(m => m.SpendProfileName, new { id = "spendProfileName" })
}

<br />

@if (Model.Transactions != null)
{
    <div class="text-center">
        <label class="tdheading">Spend Profile  : </label> <span style="font-weight:bold;font-size:20px">@Model.SpendProfileName </span>
        <br />
       @*<label class="tdheading"> Date range : </label> <span style="font-weight:bold;font-size:20px">@Model.StartDate.Date.ToString("MMMM dd yyyy") </span> <span style="font-weight:bold;font-size:20px"> --- </span> <span style="font-weight:bold;font-size:20px">@Model.EndDate.Date.ToString("MMMM dd yyyy") .</span>*@
    </div>

    <table class="display dataTable dataTable table-responsive table-condesnsed daily-weather" style="width:100%" id="inactiveCardsList">
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Card Id
                </th>
                <th>
                    Product
                </th>
                <th>
                    Spend Profile
                </th>
                <th>
                    Credit Profile
                </th>
                <th>
                    Card Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardholderEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardholderMobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardProxyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productCode)
                </td>
                <td>
                    @item.SpendProfileName
                </td>
                <td>
                    @item.CreditProfileName
                </td>
                <td>
                    @item.Status
                </td>

            </tr>
            }

        </tbody>
    </table>
}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {

        $("#SpendProfile").select2();
        $('#SpendProfile').change(function () {
            var spendProfileName = $('#SpendProfile option:selected').text();
            var spendProfileId = $('#SpendProfile option:selected').val();
            if (spendProfileName != "--Select Product--") {
                showCharts(spendProfileId, spendProfileName);
            }          
           
        });

        $('#inactiveCardsList').DataTable({

            //"columnDefs": [
            //    { "width": "8%", "targets": 0 }, // Transaction id width = 8
            //    { "width": "5%", "targets": 1 }, // Date width = 13
            //    { "width": "5%", "targets": 2 }, // Amount width = 18
            //    { "width": "5%", "targets": 3 }, // PCode width = 23
            //    { "width": "8%", "targets": 4 },  // Pan width = 31
            //    { "width": "8%", "targets": 5 },  // CardId width = 39
            //    { "width": "5%", "targets": 6 },  // Currency width = 44
            //    { "width": "8%", "targets": 7 },  // Merchant width = 53
            //    { "width": "8%", "targets": 8 },  // City width = 61
            //    { "width": "8%", "targets": 9 },  // PostCode width = 69
            //    { "width": "3%", "targets": 10 },  // MerchantCategoryCode width = 75
            //    { "width": "15%", "targets": 11 },  // MccDescription width = 90
            //    { "width": "10%", "targets": 12 }  // MccSubDesription width = 100
            //],
            "order": [1, "desc"],
            "scrollX": true,
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [
                'pageLength',
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    title: "@(TempData["ReportType"])",
                    exportOptions: {
                        format: {
                            body: function (data, row, column, node) {
                                return column === 4 ? "\0" + data : data;
                            }
                        }
                    }
                },
                {
                    extend: 'csvHtml5',
                    title: "@(TempData["ReportType"])",
                    titleAttr : 'CSV'
                },
                {
                    extend: 'pdfHtml5',
                    title: function () {
                        return "@(TempData["ReportType"])";
                    },
                    orientation: 'landscape',
                    pageSize: 'Legal',
                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',
                    titleAttr: 'PDF'
                },
                {
                    extend: 'print',
                    customize: function(win)
            {

                var last = null;
                var current = null;
                var bod = [];

                var css = 'page { size: landscape; }',
                    head = win.document.head || win.document.getElementsByTagName('head')[0],
                    style = win.document.createElement('style');

                style.type = 'text/css';
                style.media = 'print';

                if (style.styleSheet)
                {
                  style.styleSheet.cssText = css;
                }
                else
                {
                  style.appendChild(win.document.createTextNode(css));
                }

                head.appendChild(style);
              }
                }
            ]
        });

        function init_daterangepicker1() {

            if (typeof ($.fn.daterangepicker) === 'undefined') { return; }
            console.log('init_daterangepicker1');

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange1 span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2018',
                maxDate: '12/31/2023',
                dateLimit: {
                    days: 360
                },
                linkedCalendars: false,
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom (max 12 months)',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };

            $('#reportrange1 span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange1').daterangepicker(optionSet1, cb);
            $('#reportrange1').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange1').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange1').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.toISOString() + " to " + picker.endDate.format('MMMM D, YYYY'));
                //alert("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
                var spendProfileName = $('#SpendProfile option:selected').text();
                var spendProfileId = $('#SpendProfile option:selected').val();
                if (spendProfileName != "--Select Product--") {
                    showCharts(spendProfileId, spendProfileName,picker.startDate.format('MMMM D, YYYY'), picker.endDate.format('MMMM D, YYYY'));
                }
                else {

                    bootbox.alert({
                        message: "Please select a report type!",
                        backdrop: true,
                        size: 'large',
                        className: 'bb-alternate-modal',

                    });
                }

            });
            $('#reportrange1').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange1').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange1').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange1').data('daterangepicker').remove();
            });

        }

        function showCharts(spendProfileId,spendProfileName) {
            $("#loaderDiv").show();
           
            $('#spendProfileId').val(spendProfileId);
            $('#spendProfileName').val(spendProfileName);
            $('form').submit();
        }

        init_daterangepicker1();

    });

</script>