﻿@model CorporatePortal.Models.Report.CreditProfileTransactionsPageModel
@{
    /**/

    ViewBag.Title = "TransactionsByProduct";
    Layout = "~/Views/Shared/_Reports.cshtml";
}
<style>
    .dataTable {
        table-layout: fixed;
        width: 100%;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 20px;
    }
    .overlay {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        z-index: 100;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
    }
</style>

<div>
    <div class="">
        <h3>Credit Profile Transactions<small></small></h3>
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-6">
                @Html.DropDownList("CreditProfiles", Model.CreditProfiles, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                <div id="reportrange1" class="" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>September 12, 2018 - October 11, 2018</span> <b class="caret"></b>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="loaderDiv" class="overlay">
    <div class="loading-image">
        <img src="~/Assets/PortalLayout1/build/images/loading.gif" />
    </div>

</div>

@using (Html.BeginForm("CreditProfileTransactions", "Reports"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.StartDate, new { id = "startDateForm" })
    @Html.HiddenFor(m => m.EndDate, new { id = "endDateForm" })
    @Html.HiddenFor(m => m.CreditProfileId, new { id = "reportTypeForm" })
}

<br />

@if (Model.Transactions != null)
{
    <div class="text-center">
        <label class="tdheading">Credit Profile : </label> <span style="font-weight:bold;font-size:20px">@Model.CreditProfileName </span>
        <br />
        <label class="tdheading"> Date range : </label> <span style="font-weight:bold;font-size:20px">@Model.StartDate.Date.ToString("MMMM dd yyyy") </span> <span style="font-weight:bold;font-size:20px"> --- </span> <span style="font-weight:bold;font-size:20px">@Model.EndDate.Date.ToString("MMMM dd yyyy") .</span>
    </div>
    <table class="display dataTable dataTable table-responsive table-condesnsed daily-weather" style="width:100%" id="loadsByProduct">
        <thead>
            <tr>
                <th>
                    UTID
                </th>
                <th>
                    ID
                </th>
                <th>
                    TLog Id
                </th>
                <th>
                    Orig Tlog Id
                </th>
                <th>
                    Date
                </th>
                <th>
                    Amount GBP
                </th>
                <th>
                    Type
                </th>
                <th>
                    PreviousCreditLimit
                </th>
                <th>
                    CurrentCreditLimit
                </th>
                <th>
                    PreviousAccountBalance
                </th>
                <th>
                    CurrentAccountBalance
                </th>
                <th>
                    curr bill
                </th>
                <th>
                    curr txn
                </th>
                <th>
                    Pan
                </th>
                <th>
                    CardId
                </th>
                <th>
                    CardholderId
                </th>
                <th>
                    Name
                </th>
                <th>
                    Merchant Code
                </th>
                <th>
                    MCC
                </th>
                <th>
                    MCC Desc
                </th>
                <th>
                    MCC Category
                </th>
                <th>
                    Retailer
                </th>
                <th>
                    City
                </th>
                <th>
                    Postcode
                </th>
                <th>
                    Approval Code
                </th>
                <th>
                    ProductCode
                </th>
                <th>
                    SpendProfile
                </th>
                <th>
                    Trans Type
                </th>
                <th>
                    Comments
                </th>
                @*<th>
            Card Trans Type A
        </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
            <tr>
                <td>
                    @item.AdjustmentType
                </td>
                <td>
                    @item.tlogIdField
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tlogIdField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orgTlogIDField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @item.Amount.ToString("0.00")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdjustmentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousCreditLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentCreditLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousAccountBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentAccountBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.curBillField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.curTxnField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pANField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardProxyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardholderId)
                </td>
                <td>
                    @item.FirstName @item.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.crdAcptIDField)
                </td>
                <td>
                    @item.mCCField
                </td>
                <td>
                    @item.mCCSubFieldDescription
                </td>
                <td>
                    @item.mCCFieldDescription
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.merchantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.approvalCodeField)
                </td>
                <td>
                    @item.productCode
                </td>
                <td>
                    @item.ProfileName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @item.Comments
                </td>
                @*<td>
            @item.poschpField
        </td>*@

            </tr>
            }

        </tbody>
    </table>
}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {

        $("#CreditProfiles").select2();
        $('#loadsByProduct').DataTable({
            "order": [[4, "desc"]],
            "scrollX": true,
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [
                'pageLength',
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    title: "@(TempData["ReportType"])",
                     exportOptions: {
                        format: {
                            body: function (data, row, column, node) {
                                return column === 14 ? "\0" + data : data;
                            }
                        }
                    }
                },
                {
                    extend: 'csvHtml5',
                    title: "@(TempData["ReportType"])",
                    titleAttr : 'CSV'
                },
                {
                    extend: 'pdfHtml5',
                    title: function () {
                        return "@(TempData["ReportType"])";
                    },
                    orientation: 'landscape',
                    pageSize: 'Legal',
                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',
                    titleAttr: 'PDF'
                },
                {
                    extend: 'print',
                    customize: function(win)
            {

                var last = null;
                var current = null;
                var bod = [];

                var css = 'page { size: landscape; }',
                    head = win.document.head || win.document.getElementsByTagName('head')[0],
                    style = win.document.createElement('style');

                style.type = 'text/css';
                style.media = 'print';

                if (style.styleSheet)
                {
                  style.styleSheet.cssText = css;
                }
                else
                {
                  style.appendChild(win.document.createTextNode(css));
                }

                head.appendChild(style);
              }
                }
            ]
        });

        function init_daterangepicker1() {

            if (typeof ($.fn.daterangepicker) === 'undefined') { return; }
            console.log('init_daterangepicker1');

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange1 span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2018',
                maxDate: '12/31/2023',
                dateLimit: {
                    days: 360
                },
                linkedCalendars: false,
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom (max 12 months)',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };

            $('#reportrange1 span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange1').daterangepicker(optionSet1, cb);
            $('#reportrange1').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange1').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange1').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.toISOString() + " to " + picker.endDate.format('MMMM D, YYYY'));
                //alert("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
                var reportType = $('#CreditProfiles option:selected').val();
                if (reportType != "--Select Product--") {
                    showCharts(reportType, picker.startDate.format('MMMM D, YYYY'), picker.endDate.format('MMMM D, YYYY'));
                }
                else {

                    bootbox.alert({
                        message: "Please select a report type!",
                        backdrop: true,
                        size: 'large',
                        className: 'bb-alternate-modal',

                    });
                }

            });
            $('#reportrange1').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange1').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange1').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange1').data('daterangepicker').remove();
            });

        }

        function showCharts(reportType, startDate, endDate) {
            $("#loaderDiv").show();
            $('#startDateForm').val(startDate);
            $('#endDateForm').val(endDate);
            $('#reportTypeForm').val(reportType);

            $('form').submit();
        }

        init_daterangepicker1();

    });

</script>

