﻿@model IEnumerable<CorporatePortal.Models.User.Transaction>
@{
    ViewBag.Title = "TransactionsByProduct";
    Layout = "~/Views/Shared/_Reports.cshtml";
}
<style>
    .dataTable {
        table-layout: fixed;
        width: 100%;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 40px;
    }
    .overlay {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        z-index: 100;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
    }
</style>
<div>
    <div class="">
        <h3>Inactive Cards<small></small></h3>
        <div class="clearfix"></div>

    </div>
</div>

<div class="clearfix"></div>
<table class="display dataTable dataTable table-responsive table-condesnsed daily-weather" style="width:100%" id="inactiveCardsList">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                CardId
            </th>
            <th>
                Expiry
            </th>
            <th>
                Balance
            </th>
            <th>
                Cardholder
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                CardOrder
            </th>
            <th>
                DaysSinceCardOrder
            </th>
            <th>
                CardCreated
            </th>
            <th>
                DaysSinceCardCreated
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(t => t.Status))
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.productCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardProxyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardOrderCardholder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardOrderCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysSinceCardOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardCreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysSinceCardCreated)
            </td>
        </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {

        $('#inactiveCardsList').DataTable({
            "order": [0, "desc"],
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [
                'pageLength',
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    title: "@(TempData["ReportType"])",
                    exportOptions: {
                        format: {
                            body: function (data, row, column, node) {
                                return column === 1 ? "\0" + data : data;
                            }
                        }
                    }
                },
                {
                    extend: 'csvHtml5',
                    title: "@(TempData["ReportType"])",
                    titleAttr: 'CSV'
                },
                {
                    extend: 'pdfHtml5',
                    title: function () {
                        return "@(TempData["ReportType"])";
                    },
                    orientation: 'landscape',
                    pageSize: 'Legal',
                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',
                    titleAttr: 'PDF'
                },
                {
                    extend: 'print',
                    customize: function (win) {

                        var last = null;
                        var current = null;
                        var bod = [];

                        var css = 'page { size: landscape; }',
                            head = win.document.head || win.document.getElementsByTagName('head')[0],
                            style = win.document.createElement('style');

                        style.type = 'text/css';
                        style.media = 'print';

                        if (style.styleSheet) {
                            style.styleSheet.cssText = css;
                        }
                        else {
                            style.appendChild(win.document.createTextNode(css));
                        }

                        head.appendChild(style);
                    }
                }
            ]
        });
        });
</script>