﻿@model CorporatePortal.Models.Report.GetReportsPageModel

@{
    ViewBag.Title = "Index";
}

<!-- page content -->
<div>
    <div class="">
        <h3>Report<small></small></h3>
        <div class="clearfix"></div>
        <div class="row">

            <div class="col-md-6">
                <div id="reportrange1" class="" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span>September 12, 2018 - October 11, 2018</span> <b class="caret"></b>
                </div>
            </div>
            <div class="col-md-6">
                @Html.DropDownList("ReportType", Model.ReportTypes, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.StartDate, new { id = "startDateForm" })
    @Html.HiddenFor(m => m.EndDate, new { id = "endDateForm" })
    @Html.HiddenFor(m => m.ReportType, new { id = "reportTypeForm" })
}
<div id="partialPlaceHolder">

</div>

<!-- page content -->

<script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {


        function init_daterangepicker1() {

            if (typeof ($.fn.daterangepicker) === 'undefined') { return; }
            console.log('init_daterangepicker1');

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange1 span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            };

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 360
                },
                linkedCalendars: false,
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom (max 12 months)',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };

            $('#reportrange1 span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
            $('#reportrange1').daterangepicker(optionSet1, cb);
            $('#reportrange1').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange1').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange1').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.toISOString() + " to " + picker.endDate.format('MMMM D, YYYY'));
                //alert("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
                var reportType = $('#ReportType option:selected').text();
                showCharts(reportType, picker.startDate.format('MMMM D, YYYY'), picker.endDate.format('MMMM D, YYYY'));
            });
            $('#reportrange1').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange1').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange1').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange1').data('daterangepicker').remove();
            });

        }

        function showCharts(reportType, startDate, endDate) {

            alert(reportType + '' + startDate + '' + endDate);
            $('#startDateForm').val(startDate);
            $('#endDateForm').val(endDate);
            $('#reportTypeForm').val(reportType);

            $('form').submit();
            @*var url = '@Url.Action("Details", "Load")';
            url += "?productCode=" + pcode + "&type=" + status;*@


            //$.ajax({
            //    url: url,
            //    type: 'GET',
            //    beforeSend: function () {
            //        $("#loaderDiv").show();
            //    },
            //    success: function (partialView) {

            //        $('#partialPlaceHolder').fadeIn('fast');
            //        $('#partialPlaceHolder').html(partialView);
            //        $("#loaderDiv").hide();
            //    }
            //});

        }
        init_daterangepicker1();

    });

</script>