﻿@model CorporatePortal.Api.Responses.StatementsForReportResponseModel
@{
    ViewBag.Title = "Statements";
    Layout = "~/Views/Shared/_Reports.cshtml";
}
<style>
    .dataTable {
      
        width: 100%;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 40px;
    }

    .overlay {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        z-index: 100;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
    }
</style>
<div>
    <div class="">
        <h3>Expired Cards<small></small></h3>
        <div class="clearfix"></div>

    </div>
</div>

<div class="clearfix"></div>
<table class="display dataTable dataTable table-responsive table-condesnsed daily-weather" style="width:100%" id="expiredCards">
    <thead>
        <tr>
            <th>
                StatementId
            </th>

            <th>
                CreditProfileId
            </th>

            <th>
                CreditProfileName
            </th>

            <th>
                StatementMonth
            </th>

            <th>
                StatementYear
            </th>

            <th>
                TimeActioned
            </th>

            <th>
                CreatedDate
            </th>

            <th>
                UpdatedDate
            </th>

            <th>
                BusinessCentralId
            </th>

            <th>
               SubscriptionFeeGross
            </th>

            <th>
                SubscriptionFeeNet
            </th>

            <th>
                CardIssueFeeGross
            </th>

            <th>
                CardIssueFeeNet
            </th>

            <th>
                FinanceFeeTotal
            </th>

            <th>
                FXFeeTotal
            </th>

            <th>
                TotalGross
            </th>

            <th>
                TotalNet
            </th>

            <th>
                TotalSpent
            </th>

            <th>
                TotalSpentGBP
            </th>

            <th>
                TotalSpentNonGBP
            </th>

            <th>
                Description
            </th>
            <th>
                Frequency
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Statements)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditProfileId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditProfileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatementMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatementYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeActioned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessCentralId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardFeeGross)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardFeeNet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardIssueFeeGross)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardIssueFeeNet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinanceFeeTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FXFeeTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalGross)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSpent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSpentGBP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSpentNonGBP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
           
        </tr>
        }

    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {

        $('#expiredCards').DataTable({
            "order": [5, "desc"],
            dom: 'Bfrtip',
            lengthMenu: [
                [100, 200, 300 -1],
                ['100 rows', '200 rows', '300 rows', 'Show all']
            ],
            buttons: [
                'pageLength',
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    title: "@(TempData["ReportType"])"
                },
                {
                    extend: 'csvHtml5',
                    title: "@(TempData["ReportType"])",
                    titleAttr: 'CSV'
                },
                {
                    extend: 'pdfHtml5',
                    title: function () {
                        return "@(TempData["ReportType"])";
                    },
                    orientation: 'landscape',
                    pageSize: 'Legal',
                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',
                    titleAttr: 'PDF'
                },
                {
                    extend: 'print',
                    customize: function (win) {

                        var last = null;
                        var current = null;
                        var bod = [];

                        var css = 'page { size: landscape; }',
                            head = win.document.head || win.document.getElementsByTagName('head')[0],
                            style = win.document.createElement('style');

                        style.type = 'text/css';
                        style.media = 'print';

                        if (style.styleSheet) {
                            style.styleSheet.cssText = css;
                        }
                        else {
                            style.appendChild(win.document.createTextNode(css));
                        }

                        head.appendChild(style);
                    }
                }
            ]
        });
        });
</script>
