﻿
@model IEnumerable<CorporatePortal.Models.User.Transaction>
@{
    ViewBag.Title = "TransactionsByProduct";
    Layout = "~/Views/Shared/_Reports.cshtml";
}
<style>
    .dataTable {
        table-layout: fixed;
        width: 100%;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 40px;
    }
    .overlay {
        display: none;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        z-index: 100;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .loading-image {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -50px 0px 0px -50px;
    }
</style>
<div>
    <div class="">
        <h3>Transactions<small></small></h3>
        <div class="clearfix"></div>

    </div>
</div>

<div class="clearfix"></div>

<table class="display dataTable dataTable table-responsive table-condesnsed daily-weather" style="width:100%" id="inactiveCardsList">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Amount
            </th>
            <th>
                Currency
            </th>
            <th>
                Pan
            </th>
            <th>
                CardId
            </th>
            <th>
                CardholderId
            </th>
            <th>
                Name
            </th>
            <th>
                Merchant Code
            </th>
            <th>
                MCC
            </th>
            <th>
                MCC Desc
            </th>
            <th>
                MCC Category
            </th>
            <th>
                Retailer
            </th>
            <th>
                City
            </th>
            <th>
                Postcode
            </th>
            <th>
                Approval Code
            </th>
            <th>
                ProductCode
            </th>
            <th>
                SpendProfile
            </th>
            <th>
                Trans Type
            </th>
            @*<th>
                Card Trans Type A
            </th>*@
            <th>
                Card Trans Type 
            </th>
            @*<th>
                Card Trans Type C
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.messageIDField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ctxLocalDateField)                   
                </td>
                <td>
                    @item.TransactionTime.ToString("hh:mm tt")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amtTxnField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.currencyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pANField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cardIDField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CardholderId)
                </td>
                <td>
                    @item.FirstName @item.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.crdAcptIDField)
                </td>
                <td>
                    @item.mCCField
                </td>
                <td>
                    @item.mCCSubFieldDescription
                </td>
                <td>
                    @item.mCCFieldDescription
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.merchantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.approvalCodeField)
                </td>
                <td>
                    @item.productCode
                </td>
                <td>
                    @item.ProfileName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)                   
                </td>
                @*<td>
                    @item.poschpField
                </td>*@
                <td>
                    @item.poscdimField
                </td>
                @*<td>
                    @item.poschamField
                </td>*@

            </tr>
        }

    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {

        $('#inactiveCardsList').DataTable({
            "scrollX": true,
            "order": [0, "desc"],
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [
                'pageLength',
                'copyHtml5',
                {
                    extend: 'excelHtml5',
                    title: "@(TempData["ReportType"])",
                    exportOptions: {
                        format: {
                            body: function (data, row, column, node) {
                                return column === 6 ? "\0" + data : data;
                            }
                        }
                    }
                },
                {
                    extend: 'csvHtml5',
                    title: "@(TempData["ReportType"])",
                    titleAttr: 'CSV'
                },
                {
                    extend: 'pdfHtml5',
                    title: function () {
                        return "@(TempData["ReportType"])";
                    },
                    orientation: 'landscape',
                    pageSize: 'Legal',
                    text: '<i class="fa fa-file-pdf-o"> PDF</i>',
                    titleAttr: 'PDF'
                },
                {
                    extend: 'print',
                    customize: function (win) {

                        var last = null;
                        var current = null;
                        var bod = [];

                        var css = 'page { size: landscape; }',
                            head = win.document.head || win.document.getElementsByTagName('head')[0],
                            style = win.document.createElement('style');

                        style.type = 'text/css';
                        style.media = 'print';

                        if (style.styleSheet) {
                            style.styleSheet.cssText = css;
                        }
                        else {
                            style.appendChild(win.document.createTextNode(css));
                        }

                        head.appendChild(style);
                    }
                }
            ]
        });
        });
</script>