﻿@model CorporatePortal.Models.CreditNotes.CreditNotesPageModel

@{
    ViewBag.Title = "CreditNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <h2>Credit Notes</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- start project list -->
                <table class="table table-striped projects" id="creditNotesList">
                    <thead>
                        <tr>
                            <th>
                                CreditNoteId
                            </th>
                            <th>
                                CreatedDate
                            </th>
                            <th>
                                CreditProfileId
                            </th>
                            <th>
                                CreditProfileName
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                BusinessCentralId
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CreditNotes)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreditNoteId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreditProfileId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreditProfileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalSpent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BusinessCentralId)
                                </td>
                                <td>
                                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                    {
                                        @Html.ActionLink("Update", "Update", "CreditNote", new { creditNoteId = item.CreditNoteId }, new { @class = "btn btn-info btn-xs " })
                                        <b>@Html.ActionLink("Delete", "DeleteCreditNote", "CreditNote", new { creditNoteId = item.CreditNoteId }, new { @class = "btn btn-danger btn-xs ", onclick = "return confirm('Are you sure you want to delete this credit note? This action cannot be undone.');" })</b>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {

      

      

    });

</script>
