﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Q-PAY Dashboard! | </title>



    <!-- Bootstrap -->
    <link href="~/Assets/PortalLayout1/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Assets/PortalLayout1/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Assets/PortalLayout1/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Assets/PortalLayout1/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-wysiwyg -->
    <link href="~/Assets/PortalLayout1/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet" />

    <!-- Select2 -->
    <link href="~/Assets/PortalLayout1/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="~/Assets/PortalLayout1/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="~/Assets/PortalLayout1/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/Assets/PortalLayout1/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Assets/PortalLayout1/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Assets/PortalLayout1/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Assets/PortalLayout1/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/Assets/PortalLayout1/build/css/custom.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="" style="float:none;position:relative">
                        <div id="" style="width:100%;margin-top:5px;">
                            <!-- Current avatar -->
                            <img class="img-responsive" src="~/Assets/PortalLayout1/build/images/Q-Pay-Logo_Light.png" alt="Avatar" title="Q-PAY">
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <br />
                    <hr />
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="text-center">

                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="~/Home/Index"><i class="fa fa-home" style="color:#69c3c4"></i>Dashboard <span></span> </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-users" style="color:#69c3c4"></i> Users <span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="active">
                                            @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateClient"))
                                            {
                                                <a>Staff<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                                <ul class="nav child_menu" style="display: none;">

                                                    <li class="sub_menu current-page">
                                                        <a href="~/User/CorporateStaff">List</a>
                                                    </li>

                                                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateClient"))
                                                    {
                                                        <li>
                                                            <a href="~/User/NewCorporateStaff">Create</a>
                                                        </li>
                                                    }

                                                </ul>
                                            }

                                        </li>
                                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager") || this.User.IsInRole("CorporateEmployee"))
                                        {
                                            <li><a href="~/User/CorporateCardholders">CardHolders</a></li>
                                        }

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit" style="color:#69c3c4"></i> Products <span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Product/Index">Home</a></li>

                                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("SuperAdmin"))
                                        {
                                            <li><a href="~/Product/Create">Create</a></li>
                                        }

                                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                        {
                                            <li class="active">
                                                <a>Product Fees<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                                <ul class="nav child_menu" style="display: none;">
                                                    <li>
                                                        <a href="~/ProductFee/Index">Home</a>
                                                    </li>
                                                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                                    {
                                                        <li class="sub_menu current-page">
                                                            <a href="~/ProductFee/Create">Create</a>
                                                        </li>
                                                    }

                                                </ul>
                                            </li>
                                        }


                                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                        {
                                            <li class="active">
                                                <a>Credit Notes<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                                <ul class="nav child_menu" style="display: none;">
                                                    <li>
                                                        <a href="~/CreditNote/Index">Home</a>
                                                    </li>
                                                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                                    {
                                                        <li class="sub_menu current-page">
                                                            <a href="~/CreditNote/Create">Create</a>
                                                        </li>
                                                    }

                                                </ul>
                                            </li>
                                        }

                                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                        {
                                            <li class="active">
                                                <a>Credit Profiles<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                                <ul class="nav child_menu" style="display: none;">
                                                    <li>
                                                        <a href="~/CreditProfile/Index">Home</a>
                                                    </li>
                                                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                                    {
                                                        <li class="sub_menu current-page">
                                                            <a href="~/CreditProfile/Create">Create</a>
                                                        </li>
                                                    }

                                                </ul>
                                            </li>
                                        }


                                        <li class="active">
                                            <a>Spend Profiles<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                            <ul class="nav child_menu" style="display: none;">
                                                <li>
                                                    <a href="~/SpendProfile/Index">Home</a>
                                                </li>
                                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                                {
                                                    <li class="sub_menu current-page">
                                                        <a href="~/SpendProfile/Create">Create</a>
                                                    </li>
                                                }

                                            </ul>
                                        </li>
                                        <li class="active">
                                            <a>SpendProfile Override<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                            <ul class="nav child_menu" style="display: none;">
                                                <li>
                                                    <a href="~/Product/GetSpendProfileOverrideList">Home</a>
                                                </li>
                                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                                {
                                                    <li class="sub_menu current-page">
                                                        <a href="~/Product/CreateSpendProfileOverride">Create</a>
                                                    </li>
                                                }

                                            </ul>
                                        </li>

                                        <li class="active">
                                            <a>Purchase Categories<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                            <ul class="nav child_menu" style="display: none;">
                                                <li>
                                                    <a href="~/SpendProfile/PurchaseCategories">Home</a>
                                                </li>
                                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                                {
                                                    <li class="sub_menu current-page">
                                                        <a href="~/SpendProfile/CreatePurchaseCategory">Create</a>
                                                    </li>
                                                }

                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager") || this.User.IsInRole("CorporateEmployee"))
                                    {
                                        <a><i class="fa fa-credit-card" style="color:#69c3c4"></i> Cards <span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                        <ul class="nav child_menu" style="display: none;">

                                            <li class="active">
                                                <a>Order<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                                <ul class="nav child_menu" style="display: none;">
                                                    <li>
                                                        <a href="~/Order/Index">Home</a>
                                                    </li>
                                                    <!--Fuelmate-->

                                                    <li class="sub_menu current-page">
                                                        <a href="~/Order/BatchOrderHistory">Batch</a>
                                                    </li>

                                                    <li>
                                                        <a href="~/Order/InvidualCardOrderHistory">Individual</a>
                                                    </li>
                                                    <!--
                        <li>
                            <a href="~/Order/VirtualCardOrderHistory">Virtual</a>
                        </li>
                            -->
                                                </ul>
                                            </li>

                                            <!--FuelMate-->
                                            <!--
                <li class="active">
                    <a>Load<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                    <ul class="nav child_menu" style="display: none;">
                        <li>
                            <a href="~/Load/Home">Home</a>
                        </li>
                        <li class="sub_menu current-page">
                            <a href="~/Load/LoadCard">Individual Load</a>
                        </li>
                        <li>
                            <a>Batch Load<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                            <ul class="nav child_menu" style="display: none;">
                                <li>
                                    <a href="~/Load/BatchLoadHistory">Home</a>
                                </li>
                                <li class="sub_menu current-page">
                                    <a href="~/Load/BatchLoadCards">New</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                -->

                                            <li class="active">
                                                <a>Manage<span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                                <ul class="nav child_menu" style="display: none;">
                                                    <li>
                                                        <a href="~/Manage/Home">Home</a>
                                                    </li>
                                                    <!--FuleMate-->
                                                    <!--
                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                        {
                            <li class="sub_menu current-page">
                                <a href="~/Manage/InstantIssue">Instant Issue card</a>
                            </li>
                        }
                        -->
                                                </ul>
                                            </li>
                                        </ul>
                                    }

                                </li>


                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager") || this.User.IsInRole("CorporateClient"))
                                {
                                    <li>
                                        <a><i class="fa fa-table" style="color:#69c3c4"></i> Reports <span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="~/Reports/OrdersHome">Orders</a></li>
                                            @*<li><a href="~/Reports/TransactionsByProduct">Transaction by product</a></li>*@
                                            <li><a href="~/Reports/GroupedTransactions">Grouped Transactions</a></li>
                                            <li><a href="~/Reports/CreditProfileTransactions">Credit Profile Transactions</a></li>
                                            @*<li><a href="~/Reports/GetCardsBalanceList">Card Balances </a></li>*@
                                            <li><a href="~/Reports/ActivatedCardsList">Activated Cards</a></li>
                                            <li><a href="~/Reports/InactiveCardsList">Inactive Cards</a></li>
                                            <li><a href="~/Reports/SuspendedCardsList">Suspended Cards</a></li>
                                            <li><a href="~/Reports/BlockedCardsList">Blocked Cards</a></li>
                                            <li><a href="~/Reports/LostStolenCardsList">Lost and Stolen Cards</a></li>
                                            <li><a href="~/Reports/ExpiredCardsList">Expired Cards</a></li>
                                            <li><a href="~/Reports/CardaActivationFirstTransaction">Activation / First Transaction</a></li>
                                            <!-- Hide for fuelamte-->
                                            <!--<li><a href="~/Reports/LoadsByProduct">Loads by product</a></li>-->
                                            <li><a href="~/Reports/TransactionsByDate">Transactions</a></li>

                                            <li><a href="~/Reports/DeclinedTransactionsByDate">Declined Transactions</a></li>
                                            @*<li><a href="~/Reports/MasterAccountTransactions">Account Transactions</a></li>*@
                                            <li><a href="~/Reports/Cardholders">Cardholders</a></li>
                                            <!-- Hide for fuelamte-->
                                            @*<li><a href="~/Reports/Reconciliation">Reconciliation</a></li>*@

                                        </ul>
                                    </li>
                                }
                                @if (this.User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a><i class="fa fa-table" style="color:#69c3c4"></i> Statements <span class="fa fa-chevron-down" style="color:#69c3c4"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="~/Reports/CreditProfileTransForFeeReport">StatementFees</a></li>
                                            <li><a href="~/Reports/StatementsForFeeReport">Statements</a></li>

                                            <!-- Hide for fuelamte-->
                                            @*<li><a href="~/Reports/Reconciliation">Reconciliation</a></li>*@

                                        </ul>
                                    </li>
                                }
                                <li class="">
                                    <a href="~/Account/Logout"><i class="fa fa-sign-out" style="color:#69c3c4"></i> Logout </a>
                                </li>
                            </ul>
</div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        @*<a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>*@
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">@User.Identity.Name
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="~/Account/Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>

                            @*<li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">6</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <span class="image"><img src="images/img.jpg" alt="Profile Image"></span>
                                                <span>
                                                    <span>John Smith</span>
                                                    <span class="time">3 mins ago</span>
                                                </span>
                                                <span class="message">
                                                    Film festivals used to be do-or-die moments for movie makers. They were where...
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>See All Alerts</strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>*@
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 2095px;">
                <!-- top tiles -->
                <div class="row tile_count" style="background:#73879c; color:white ">
                    @*<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total Balance</span>
                        <div class="count">@string.Format("{0:N0}", ViewBag.TopTiles.TotalCorporateBalanceAvailable)</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-clock-o"></i> Total Loaded</span>
                        <div class="count">@string.Format("{0:N0}", ViewBag.TopTiles.TotalCorporateCardLoads)</div>
                    </div>*@


                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Active Cards</span>
                        <div class="count">@string.Format("{0:N0}", ViewBag.TopTiles.TotalPrepaidCards)</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total CardHolders</span>
                        <div class="count">@ViewBag.TopTiles.TotalCardHolders</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total Ordered</span>
                        <div class="count">@string.Format("{0:N0}", ViewBag.TopTiles.TotalCardsOrdered)</div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total Transactions</span>
                        <div class="count">@string.Format("{0:N0}", ViewBag.TopTiles.TotalTransactions) </div>
                    </div>
                </div>
                <!-- /top tiles -->
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <h2 style="color:black">Q-PAY 2021</h2>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Assets/PortalLayout1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="~/Assets/PortalLayout1/vendors/moment/min/moment.min.js"></script>
    <script src="~/Assets/PortalLayout1/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/Assets/PortalLayout1/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Assets/PortalLayout1/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Assets/PortalLayout1/vendors/google-code-prettify/src/prettify.js"></script>

    <!-- DateJS -->
    <script src="~/Assets/PortalLayout1/vendors/DateJS/build/date.js"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="~/Assets/PortalLayout1/vendors/moment/min/moment.min.js"></script>
    <script src="~/Assets/PortalLayout1/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="~/Assets/PortalLayout1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>*@
    <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
    <!-- Custom Theme Scripts -->

    <script src="~/Assets/PortalLayout1/build/js/reportsjs.js"></script>

    <script>
        $(document).ready(function () {

        var failure = @((TempData["FailureMessage"] != null).ToString().ToLower());
        var success = @((TempData["SuccessMessage"] != null).ToString().ToLower());
        if (failure == true) {
            Command: toastr["error"]("@(TempData["FailureMessage"])")
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }
        if (success == true) {
            Command: toastr["success"]("@(TempData["SuccessMessage"])")
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }
    });
    </script>

</body>
</html>
