﻿@model IEnumerable<CorporatePortal.Api.Responses.ApiTransaction>
@{
    ViewBag.Title = "Account Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Load History</h3>
        </div>

        <div class="title_right">

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <h3>Account Id : @ViewBag.AccountId</h3>
                        <h3>Account Name : @ViewBag.AccountName</h3>

                        @*<a class="btn btn-success" href="~/UserManagement/Details/@Model.UserId"><i class="fa fa-edit m-right-xs"></i>Back</a>*@
                        <br />
                        <a href="@Request.UrlReferrer" class="btn btn-info pull-right" title="Back to list">
                            <span>Back</span>
                        </a>

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="profile_title">
                            <div class="col-md-6">
                                <h2>Transactions</h2>
                            </div>
                        </div>

                        <div class="x_panel">
                            <div class="x_title">
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-12">
                                    <!-- start project list -->
                                    <table class="table table-striped projects" id="userTransactions">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AuthDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Amount)
                                                </th>
                                                <th>
                                                    Bill Amount
                                                </th>
                                                <th>
                                                    Balance
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Description)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ItemType)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TransactionType)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AuthDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Amount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BillAmount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Balance)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ItemType)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TransactionType)
                                                </td>
                                            </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
