﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tiles = ViewBag.TopTiles;

}

<div class="">
    <br>
    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_320" style="height:300px; overflow-y: scroll; overflow:auto">
                <div class="x_title">
                    <h2>Account <small>balances</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" >
                    <table class="table table-striped table-responsive" >
                        <thead>
                            <tr>
                                <th>
                                    Account Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Currency
                                </th>
                                <th>
                                    Balance
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Accounts)
                            {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.AccountName
                                </td>
                                <td>
                                    @item.CurrencyCode
                                </td>
                                <td>
                                    @item.Balance
                                </td>
                                <td>
                                    @item.FundingSource
                                </td>
                                <td>
                                    @Html.ActionLink("Load History", "AccountLoadHistory", "Home", new { accountid = item.Id, accountName = item.AccountName }, new { @class = "btn btn-info" })
                                    @if (item.FundingSource == CorporatePortal.Models.CardLoad.FundingSource.Card)
                                    {                                    
                                        @Html.ActionLink("Transactions", "AccountTransactionHistory", "Home", new { cardProxyId = item.CardId, accountId = item.Id, accountName = item.AccountName }, new { @class = "btn btn-info" })                                   
                                    }
                                </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_320" style="height:300px; overflow-y: scroll; overflow:auto">
                <div class="x_title">
                    <h2>Products <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">
                        <div class="row">
                            @foreach (var product in @ViewBag.products)
                            {
                            <div class="col-md-2 btn btn-app">
                                <a href="@Url.Action("ProductDetails", "Product", new { productCode = product.ProductCode })" class="btn  btn-xs">@product.ProductCode</a>
                            </div>
                            }
                        </div>
                        @*<ul class="quick-list">
                            @foreach (var product in @ViewBag.products)
                            {
                            <li><i class="fa fa-thumbs-up"></i><a href="#">@product.ProductCode</a></li>
                            }
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" style="display:none">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Report<small></small></h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>September 12, 2018 - October 11, 2018</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white" style="display:none">
                    <div class="x_title">
                        <h2>Top Campaign Performance</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>Facebook Campaign</p>
                            @*<div class="">
                                    <div class="progress progress_sm" style="width: 76%;">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80" aria-valuenow="79" style="width: 80%;"></div>
                                    </div>
                                </div>*@
                        </div>
                        <div>
                            <p>Twitter Campaign</p>
                            @*<div class="">
                                    <div class="progress progress_sm" style="width: 76%;">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60" aria-valuenow="59" style="width: 60%;"></div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>Conventional Media</p>
                            @*<div class="">
                                    <div class="progress progress_sm" style="width: 76%;">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40" aria-valuenow="39" style="width: 40%;"></div>
                                    </div>
                                </div>*@
                        </div>
                        <div>
                            <p>Bill boards</p>
                            @*<div class="">
                                    <div class="progress progress_sm" style="width: 76%;">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="49" style="width: 50%;"></div>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Bar graph <small>Sessions</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Settings 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="transactions" height="442" width="884" style="width: 442px; height: 221px;"></canvas>
                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    
    <!-- page content -->
    <div>
        <div class="">
            

            <div class="clearfix"></div>
            <div class="row">
                @*<div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Line graph<small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                    <canvas id="lineChart" width="642" height="320" style="width: 321px; height: 160px;"></canvas>
                </div>
            </div>
        </div>*@
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Amount Spent<small> <bold>by product since program launch</bold></small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="mybarChart" width="642" height="320" style="width: 321px; height: 160px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Transaction<small><bold>by product since program launch</bold></small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
                            <canvas id="mybarChart1" width="642" height="320" style="width: 321px; height: 160px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- page content -->



</div>

<!-- jQuery -->
<script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        //Portal products
        $('a:contains("Limit tester")').parent().css({ "border": "2px solid #b3ffb3" });
        $('a:contains("Product4")').parent().css({ "border": "2px solid #9999e6" });
        $('a:contains("Product5")').parent().css({ "border": "2px solid #ccccff" });
        $('a:contains("Product6")').parent().css({ "border": "2px solid #ff99c2" });
        $('a:contains("QPay V Test")').parent().css({ "border": "2px solid #b3b3cc" });
        $('a:contains("QPayV2")').parent().css({ "border": "2px solid #ccffff" });
        $('a:contains("QPayV3")').parent().css({ "border": "2px solid #ffccdd" });
        $('a:contains("TestProd1")').parent().css({ "border": "2px solid #ecc6d9" });  

        //Buttle products
        $('a:contains("BUTTLE")').parent().css({ "border": "2px solid #ccccff" });

        //GiftCloud products
        $('a:contains("DECISION")').parent().css({ "border": "2px solid #b3ffb3" });
        $('a:contains("GENIE")').parent().css({ "border": "2px solid #9999e6" });
        $('a:contains("HYPER")').parent().css({ "border": "2px solid #ccccff" });

        //Hyundai products
        $('a:contains("Hyundai")').parent().css({ "border": "2px solid #990000" });

        //Fuelmate products
        $('a:contains("50000011")').parent().css({ "border": "2px solid #6D1704" });
        $('a:contains("50000012")').parent().css({ "border": "2px solid #C06A57" });
        $('a:contains("50000013")').parent().css({ "border": "2px solid #DCBDB6" });
        $('a:contains("50000032")').parent().css({ "border": "2px solid #074B9D" });
        $('a:contains("50000042")').parent().css({ "border": "2px solid #666D75" });
        $('a:contains("50000171")').parent().css({ "border": "2px solid #0674F2" });
        $('a:contains("50000211")').parent().css({ "border": "2px solid #0CC856" });
        $('a:contains("50000231")').parent().css({ "border": "2px solid #12F7D7" });
        $('a:contains("60000011")').parent().css({ "border": "2px solid #BB0B81" });
        $('a:contains("60000021")').parent().css({ "border": "2px solid #E4F705" });
        $('a:contains("60000022")').parent().css({ "border": "2px solid #A00692" });

        //QpayWorldServicing products
        $('a:contains("DINA")').parent().css({ "border": "2px solid #6D1704" });
        $('a:contains("DINE")').parent().css({ "border": "2px solid #C06A57" });
        $('a:contains("DISEUR")').parent().css({ "border": "2px solid #DCBDB6" });
        $('a:contains("DISGBP")').parent().css({ "border": "2px solid #074B9D" });
        $('a:contains("DISKENGB")').parent().css({ "border": "2px solid #666D75" });
        $('a:contains("DISSCRAP")').parent().css({ "border": "2px solid #0674F2" });
        $('a:contains("MICHELEU")').parent().css({ "border": "2px solid #0CC856" });
        $('a:contains("MICHELGB")').parent().css({ "border": "2px solid #12F7D7" });
        $('a:contains("QCFT")').parent().css({ "border": "2px solid #BB0B81" });
        $('a:contains("QCP2")').parent().css({ "border": "2px solid #E4F705" });
        $('a:contains("QLS4")').parent().css({ "border": "2px solid #A00692" });

        $.ajax({
            type: "GET",
            url: "/Home/TransactionByProductChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (chData) {
                console.log(chData)
                var labels = [""];
                var dataset = chData;
                if ($('#mybarChart1').length) {
                    var ctx = document.getElementById("mybarChart1");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [""],
                            datasets: chData
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Home/AmountSpentByProductChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (chData) {
                console.log(chData)
                var labels = [""];
                var dataset = chData;
                if ($('#mybarChart').length) {
                    var ctx = document.getElementById("mybarChart");
                    var mybarChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [""],
                            datasets: chData
                        },

                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                }
            }
        });
        // Bar chart
        if ($('#lineChart').length) {

            var ctx = document.getElementById("lineChart");
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                    datasets: [{
                        label: "Transport",
                        backgroundColor: "rgba(38, 185, 154, 0.31)",
                        borderColor: "rgba(38, 185, 154, 0.7)",
                        pointBorderColor: "rgba(38, 185, 154, 0.7)",
                        pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointBorderWidth: 1,
                        data: [31, 74, 6, 39, 20, 85, 7]
                    }, {
                        label: "Holidays",
                        backgroundColor: "rgba(3, 88, 106, 0.3)",
                        borderColor: "rgba(3, 88, 106, 0.70)",
                        pointBorderColor: "rgba(3, 88, 106, 0.70)",
                        pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
                        pointHoverBackgroundColor: "#fff",
                        pointHoverBorderColor: "rgba(255, 0, 0, 1.0)",
                        pointBorderWidth: 1,
                        data: [82, 23, 66, 9, 99, 4, 2]
                    }]
                },
            });
        }

        function demo(param) {

            if ($('#mybarChart').length) {
                var labelstest = [];
                var ctx = document.getElementById("mybarChart1");
                var mybarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labelstest,
                        labels: ["January", "February", "March", "April", "May", "June", "July"],
                        datasets: [{
                            label: "Product1",
                            backgroundColor: "#26B99A",
                            data: [10, 30, 40, 28, 92, 50, 45]
                        }, {
                            label: 'Product2',
                            backgroundColor: "#03586A",
                            data: [4, 50, 25, 40, 70, 42, 12]
                        },
                        {
                            label: 'Product3',
                            backgroundColor: "#1968bb",
                            data: [10, 60, 25, 80, 7, 34, 12]
                        },
                        {
                            label: 'Product4',
                            backgroundColor: "#ff0074",
                            data: [41, 56, 50, 8, 72, 12, 2]
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            }

            if ($('#mybarChart3').length) {
                var labelstest = [];
                var ctx = document.getElementById("mybarChart3");
                var mybarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labelstest,
                        labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                        datasets: [{
                            label: "Product1",
                            backgroundColor: "#26B99A",
                            data: [10, 30, 40, 28, 92, 50, 45]
                        }, {
                            label: 'Product2',
                            backgroundColor: "#03586A",
                            data: [4, 50, 25, 40, 70, 42, 12]
                        },
                        {
                            label: 'Product3',
                            backgroundColor: "#1968bb",
                            data: [10, 60, 25, 80, 7, 34, 12]
                        },
                        {
                            label: 'Product4',
                            backgroundColor: "#ff0074",
                            data: [41, 56, 50, 8, 72, 12, 2]
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            }

            if ($('#mybarChart4').length) {
                var labelstest = [];
                var ctx = document.getElementById("mybarChart4");
                var mybarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labelstest,
                        labels: getDaysArray(2018, 10),
                        datasets: [{
                            label: "Product1",
                            backgroundColor: "#26B99A",
                            data: [10, 30, 40, 28, 92, 50, 45]
                        }, {
                            label: 'Product2',
                            backgroundColor: "#03586A",
                            data: [4, 50, 25, 40, 70, 42, 12]
                        },
                        {
                            label: 'Product3',
                            backgroundColor: "#1968bb",
                            data: [10, 60, 25, 80, 7, 34, 12]
                        },
                        {
                            label: 'Product4',
                            backgroundColor: "#ff0074",
                            data: [41, 56, 50, 8, 72, 12, 2]
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            }

            if ($('#mybarChart5').length) {
                var labelstest = [];
                var ctx = document.getElementById("mybarChart5");
                var mybarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labelstest,
                        labels: ['Date1'],
                        datasets: [{
                            label: "Product1",
                            backgroundColor: "#26B99A",
                            data: [10, 30, 40, 28, 92, 50, 45]
                        }, {
                            label: 'Product2',
                            backgroundColor: "#03586A",
                            data: [4, 50, 25, 40, 70, 42, 12]
                        },
                        {
                            label: 'Product3',
                            backgroundColor: "#1968bb",
                            data: [10, 60, 25, 80, 7, 34, 12]
                        },
                        {
                            label: 'Product4',
                            backgroundColor: "#ff0074",
                            data: [41, 56, 50, 8, 72, 12, 2]
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            }

            if ($('#mybarChart6').length) {


                var startDate = new Date("2017-10-01") //YYYY-MM-DD
                var endDate = new Date("2017-10-20") //YYYY-MM-DD

                var getDateArray = function (start, end) {
                    var arr = new Array();
                    var dt = new Date(start);
                    while (dt <= end) {
                        arr.push(new Date(dt));
                        dt.setDate(dt.getDate() + 1);
                    }
                    return arr;
                }

                var dateArr = getDateArray(startDate, endDate);

                var labelstest = [];
                var ctx = document.getElementById("mybarChart6");
                var mybarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: labelstest,
                        labels: dateArr,
                        datasets: [{
                            label: "Product1",
                            backgroundColor: "#26B99A",
                            data: [10, 30, 40, 28, 92, 50, 45]
                        }, {
                            label: 'Product2',
                            backgroundColor: "#03586A",
                            data: [4, 50, 25, 40, 70, 42, 12]
                        },
                        {
                            label: 'Product3',
                            backgroundColor: "#1968bb",
                            data: [10, 60, 25, 80, 7, 34, 12]
                        },
                        {
                            label: 'Product4',
                            backgroundColor: "#ff0074",
                            data: [41, 56, 50, 8, 72, 12, 2]
                        }]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });

            }


        }

        function getDaysArray(year, month) {
            var numDaysInMonth, daysInWeek, daysIndex, index, i, l, daysArray;

            numDaysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
            daysInWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            daysIndex = { 'Sun': 0, 'Mon': 1, 'Tue': 2, 'Wed': 3, 'Thu': 4, 'Fri': 5, 'Sat': 6 };
            index = daysIndex[(new Date(year, month - 1, 1)).toString().split(' ')[0]];
            daysArray = [];

            for (i = 0, l = numDaysInMonth[month - 1]; i < l; i++) {
                daysArray.push((i + 1) + '. ' + daysInWeek[index++]);
                if (index == 7) index = 0;
            }

            return daysArray;
        }

        function getDates() {
            var start = new Date("2016-01-01"),
                end = new Date("2016-12-07"),
                currentDate = new Date(start),
                between = []
                ;

            while (currentDate <= end) {
                between.push(new Date(currentDate));
                currentDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 1);
            }

            return between;
        }


    })
</script>
