﻿    @model CorporatePortal.Models.Product.CreditProfileTransactionsPageModel
    @{
        ViewBag.Title = "GetTransactions";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Transactions</h3>
            </div>

            <div class="title_right">

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                            <h3>Profile Id : @Model.CreditProfileId</h3>
                            <h3>Profile Name : @Model.CreditProfileName</h3>
                            <h3>Credit Limit : @Model.CreditLimit</h3>
                            <h3>Available Balance : @Model.AvailableBalance.ToString("0.00")</h3>

                            @*<a class="btn btn-success" href="~/UserManagement/Details/@Model.UserId"><i class="fa fa-edit m-right-xs"></i>Back</a>*@
                            <br />
                            <!-- start skills -->
                            @*<h4>Some Info?</h4>
        <ul class="list-unstyled user_data">
            <li>
                <p>Web Applications</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                </div>
            </li>
            <li>
                <p>Website Design</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                </div>
            </li>
            <li>
                <p>Automation & Testing</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                </div>
            </li>
            <li>
                <p>UI / UX</p>
                <div class="progress progress_sm">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                </div>
            </li>
        </ul>*@
                            <!-- end of skills -->

                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <div class="profile_title">
                                <div class="col-md-6">
                                    <h2>Transactions</h2>
                                </div>
                                @*<div class="col-md-6">
                                        <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                        </div>
                                    </div>*@
                            </div>
                            <!-- start of user-activity-graph -->
                            @*<div id="graph_bar" style="width:100%; height:280px;"></div>*@
                            <!-- end of user-activity-graph -->

                            <div class="x_panel">
                                <div class="x_title">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-md-12">
                                        <!-- start project list -->
                                        <table class="table table-striped projects" id="userTransactions">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Date
                                                    </th>
                                                    <th>
                                                        Amount
                                                    </th>
                                                    <th>
                                                        Adjustment Type
                                                    </th>
                                                    <th>
                                                        Transaction Type
                                                    </th>
                                                    <th>
                                                        Previous Credit Limit
                                                    </th>
                                                    <th>
                                                        Current Credit Limit
                                                    </th>
                                                    <th>
                                                        Previous Available Balance
                                                    </th>
                                                    <th>
                                                        Current Available Balance
                                                    </th>
                                                    <th>
                                                        Comments
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Transactions)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AdjustmentType)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TransactionType)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PreviousCreditLimit)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CurrentCreditLimit)
                                                    </td>
                                                    <td>
                                                        @item.PreviousAccountBalance.ToString("0.00")
                                                    </td>
                                                    <td>
                                                        @item.CurrentAccountBalance.ToString("0.00")
                                                    </td>
                                                    <td>
                                                        @item.Comments
                                                    </td>
                                                </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
