﻿@model CorporatePortal.Models.Product.CreditProfileListPageModel

@{
    ViewBag.Title = "CreditProfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <h2>Credit Profiles</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- start project list -->
                <table class="table table-striped projects" id="spendProfilesList">
                    <thead>
                        <tr>
                            <th>
                                Credit Profile Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Credit Limit
                            </th>
                            <th>
                                Available Balance
                            </th>
                            <th>
                                IsPrePaid
                            </th>
                            <th>
                                Balance Due
                            </th>
                            <th>
                                AmounT Spent
                            </th>
                            <th>
                                Frequency
                            </th>
                            <th>
                                Terms
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Sales Person Code
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProfileList)
                        {                             
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreditProfileId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreditLimit)
                            </td>
                            <td>
                                @item.AvailableBalance.ToString("0.00")
                            </td>
                            <td>
                                @item.IsPrePaid
                            </td>
                            <td>
                                @item.BalanceDue
                            </td>
                            <td>
                                @item.AmountSpent
                            </td>
                            <td>
                                @item.PaymentFrequency
                            </td>
                            <td>
                                @item.PaymentTerms
                            </td>
                            <td>
                                @item.PaymentType
                            </td>
                            <td>
                                @item.SalesPersonCode
                            </td>
                            <td>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                {
                                    @Html.ActionLink("Update Cr.Limit", "UpdateCreditLimit", "CreditProfile", new { creditProfileId = item.CreditProfileId }, new { @class = "btn btn-info btn-xs " })

                                    @Html.ActionLink("Top Up Avl Bal", "UpdateAvailableBalance", "CreditProfile", new { creditProfileId = item.CreditProfileId }, new { @class = "btn btn-info btn-xs " })
                                }

                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                {
                                    @Html.ActionLink("Transactions", "CreditProfileTransactions", "CreditProfile", new { creditProfileId = item.CreditProfileId, creditProfileName = item.ProfileName, creditLimit = item.CreditLimit, availableBalance = item.AvailableBalance }, new { @class = "btn btn-info btn-xs " })

                                    @Html.ActionLink("Update Name", "UpdateCreditProfileName", "CreditProfile", new { creditProfileId = item.CreditProfileId }, new { @class = "btn btn-info btn-xs " })

                                   

                                    <b>@Html.ActionLink("Delete", "DeleteCreditProfile", new { creditProfileId = item.CreditProfileId }, new { @class = "btn btn-danger btn-xs ", onclick = "return confirm('Are you sure you want to delete this credit profile? All associated products will be updated. This action cannot be undone.');" })</b>
                                }

                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>

@*<script type="text/javascript">
    $(function () {
        
    })
</script>*@