﻿@model CorporatePortal.Models.ProductFee.ProductFeesListPageModel

@{
    ViewBag.Title = "ProductFees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <h2>Product Fees</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- start project list -->
                <table class="table table-striped projects" id="spendProfilesList">
                    <thead>
                        <tr>
                            <th>
                                ProductFeeId
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Updated
                            </th>
                            <th>
                                FinanceFee
                            </th>
                            <th>
                                SubscriptionFee
                            </th>
                            <th>
                                CardIssueFee
                            </th>
                            <th>
                                FXFee
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProductFeeList)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductFeeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FinanceFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardIsueeFee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FXFee)
                            </td>
                            <td>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                {
                                    @Html.ActionLink("Update", "Update", "ProductFee", new { productFeeId = item.ProductFeeId }, new { @class = "btn btn-info btn-xs " })
                                    <b>@Html.ActionLink("Delete", "DeleteProductFee", new { productFeeId = item.ProductFeeId }, new { @class = "btn btn-danger btn-xs ", onclick = "return confirm('Are you sure you want to delete this product fee? This action cannot be undone.');" })</b>
                                }
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>
