﻿@model CorporatePortal.Models.Product.CreateProductPageModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td {
        font-size: larger;
        padding: 10px;
    }

    .tdlabel {
        font-weight: bold;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 20px;
    }

    .form-control:focus {
        border-color: #CCD0D7;
        box-shadow: none !important
    }
</style>

<style>
   
</style>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>New product<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <br>
                    @using (Html.BeginForm("Create", "Product",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">General</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("Currency", Model.Currencies, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.Currency)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FundingSource, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("FundingSource", Model.FundingSources, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.FundingSource)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        if (this.User.IsInRole("Admin"))
                        {
                            <hr />
                            <div class="form-group">
                                <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Fees</span>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DebitFeePercentage, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.DebitFeePercentage, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.DebitFeePercentage, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CreditFeePercentage, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CreditFeePercentage, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.CreditFeePercentage, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <hr />
                            <div class="form-group">
                                <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Pin reveal/ Tokenise</span>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AllowAnonymousPinReveal, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.AllowAnonymousPinReveal, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.AllowAnonymousPinReveal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TokeniseWithoutPaymentCard, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.TokeniseWithoutPaymentCard, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.TokeniseWithoutPaymentCard, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <hr />
                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Virtual</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsVirtual, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.IsVirtual, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.IsVirtual, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        if (this.User.IsInRole("Admin"))
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.CardProgram, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CardProgram, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.CardProgram, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CardDesign, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CardDesign, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.CardDesign, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CardProduct, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.CardProduct, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.CardProduct, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <hr />
                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Kyc/Sanctions</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.KycCheck, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.KycCheck, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.KycCheck, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PepsSanctionsCheck, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.PepsSanctionsCheck, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.PepsSanctionsCheck, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        if (this.User.IsInRole("Admin"))
                        {
                            <hr />
                            <div class="form-group">
                                <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Auto topup</span>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AutoTopupEnabled, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.AutoTopupEnabled, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.AutoTopupEnabled, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AutoTopupDefaultAmount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.AutoTopupDefaultAmount, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.AutoTopupDefaultAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AutoTopUpTopUpThreshold, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.AutoTopUpTopUpThreshold, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.AutoTopUpTopUpThreshold, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <hr />
                            <div class="form-group">
                                <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Rewards</span>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.RewardsPointsEnabled, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.RewardsPointsEnabled, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.RewardsPointsEnabled, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.RewardsPointPerUnit, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.EditorFor(model => model.RewardsPointPerUnit, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                    @Html.ValidationMessageFor(model => model.RewardsPointPerUnit, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <hr />
                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Funds owned by?</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FundsOwnership, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EnumDropDownListFor(model => model.FundsOwnership, htmlAttributes: new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.FundsOwnership, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Limits</span>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Max Balance</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                @Html.EditorFor(model => model.CorporateLoadMaxBalance, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.CorporateLoadMaxBalance, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" )>Max Daily Balance</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.MaxDailyBalance, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                    @Html.ValidationMessageFor(model => model.MaxDailyBalance, "", new { @class = "text-danger" })
                </div>
            </div>*@

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" )>Max Daily Load</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.MaxDailyLoad, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.MaxDailyLoad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" )>Max Weekly Load</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.MaxWeeklyLoad, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.MaxWeeklyLoad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" )>Max Monthly Load</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.MaxMonthlyLoad, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.MaxMonthlyLoad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" )>Max Yearly Load</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.MaxYearlyLoad, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.MaxYearlyLoad, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        @*<div class="form-group">
                @Html.LabelFor(model => model.CorporateLoadMinLoadAmount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.CorporateLoadMinLoadAmount, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                    @Html.ValidationMessageFor(model => model.CorporateLoadMinLoadAmount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaxTopupValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.MaxTopupValue, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                    @Html.ValidationMessageFor(model => model.MaxTopupValue, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MinTopupValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.MinTopupValue, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                    @Html.ValidationMessageFor(model => model.MinTopupValue, "", new { @class = "text-danger" })
                </div>
            </div>*@

                        <hr />
                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Program settings</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ProductType", Model.ProgramTypes, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.ProductType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Reloadable, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.Reloadable, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.Reloadable, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ForEmployee, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.ForEmployee, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.ForEmployee, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OnlineTransactions, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.OnlineTransactions, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.OnlineTransactions, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ATMTransactions, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.ATMTransactions, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.ATMTransactions, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TransactionAlerts, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.TransactionAlerts, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.TransactionAlerts, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-info">Submit</button>
                                @*<a class="btn btn-success" href="~/Product/Index">Back</a>*@
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
