﻿@model IEnumerable<CorporatePortal.Models.Product.QcsProduct>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <h2>Products</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                
                <!-- start project list -->
                <table class="table table-striped projects" id="products">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Currency)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th>
                                Spend Profile
                            </th>
                            <th>
                                Credit Profile
                            </th>
                            <th>
                               Product Fee
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Currency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @item.SpendProfileName
                            </td>
                            <td>
                                @item.CreditProfileName
                            </td>
                            <td>
                                @item.ProductFeeName
                            </td>
                            <td>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                {
                                    @Html.ActionLink("Edit", "UpdateProductDetails", "Product", new { productCode = item.ProductCode }, new { @class = "btn btn-info btn-xs " })
                                }

                                @Html.ActionLink("Details", "ProductDetails", "Product", new { productCode = item.ProductCode }, new { @class = "btn btn-info btn-xs" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>


