﻿@model CorporatePortal.Models.Product.QcsProduct
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        font-size: larger;
        padding: 10px;        
    }
    .tdlabel{
        font-weight:bold;
    }
    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        padding: 50px;
    }
</style>
<div class="">
    <div class="page-title">
        <div class="title_left">
        </div>

        <div class="title_right">

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>                        
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-8 col-sm-8 col-xs-12 profile_left">
                        <div class="profile_title">
                            <div class="col-md-6 ">
                                <span style="font-weight:bolder ;font-size:x-large;color:#69c3c4">@Model.ProductCode</span>
                            </div>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 profile_left" >   
                            <div class="row">
                                <div class="col-md-12 ">
                                    <table class="table table-responsive" style="width:100%; margin:10px">
                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">General</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Currency
                                            </td>
                                            <td>
                                                @Model.Currency
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Funding Source
                                            </td>
                                            <td>
                                                @Model.FundingSource
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Active
                                            </td>
                                            <td>
                                                @Model.IsActive
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Fees</span>
                                            </td>
                                        </tr>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <tr>
                                                <td class="tdlabel">
                                                    Debit Fee Percentage
                                                </td>
                                                <td>
                                                    @Model.DebitFeePercentage
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    Credit Fee
                                                </td>
                                                <td>
                                                    @Model.CreditFeePercentage
                                                </td>
                                            </tr>


                                            <tr>
                                                <td colspan="2" class="tdheading">
                                                    <span style="font-size:larger">Pin reveal/Tokenise</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Allow Anonymous Pin Reveal
                                                </td>
                                                <td>
                                                    @Model.AllowAnonymousPinReveal
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Tokenise Without Paymentcard
                                                </td>
                                                <td>
                                                    @Model.TokeniseWithoutPaymentCard
                                                </td>
                                            </tr>
                                        }



                                        @if (this.User.IsInRole("Admin"))
                                        {

                                        }


                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Virtual</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Virtual
                                            </td>
                                            <td>
                                                @Model.IsVirtual
                                            </td>
                                        </tr>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <tr>
                                                <td class="tdlabel">
                                                    (FIS)Virtual card program
                                                </td>
                                                <td>
                                                    @Model.CardProgram
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    (FIS)Virtual card design
                                                </td>
                                                <td>
                                                    @Model.CardDesign
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    (FIS)Virtual Card product
                                                </td>
                                                <td>
                                                    @Model.CardProduct
                                                </td>
                                            </tr>
                                        }

                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Kyc/Sanctions</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Kyc
                                            </td>
                                            <td>
                                                @Model.KycCheck
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Pep and Sanctions
                                            </td>
                                            <td>
                                                @Model.PepsSanctionsCheck
                                            </td>
                                        </tr>
                                        @if (this.User.IsInRole("Admin"))
                                        {
                                            <tr>
                                                <td colspan="2" class="tdheading">
                                                    <span style="font-size:larger">AutoTopup</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Auto Topup Enabled
                                                </td>
                                                <td>
                                                    @Model.AutoTopupEnabled
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Auto Topup Default Amount
                                                </td>
                                                <td>
                                                    @Model.AutoTopupDefaultAmount
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Auto Topup Threshold
                                                </td>
                                                <td>
                                                    @Model.AutoTopUpTopUpThreshold
                                                </td>
                                            </tr>


                                            <tr>
                                                <td colspan="2" class="tdheading">
                                                    <span style="font-size:larger">Rewards</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Reward Points Enabled
                                                </td>
                                                <td>
                                                    @Model.RewardsPointsEnabled
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Reward Points Per Unit
                                                </td>
                                                <td>
                                                    @Model.RewardsPointPerUnit
                                                </td>
                                            </tr>
                                        }

                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Funds owned by?</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Funds Ownership
                                            </td>
                                            <td>
                                                @Model.FundsOwnership
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Limits</span>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td class="tdlabel">
                                                Max Balance
                                            </td>
                                            <td>
                                                @Model.CorporateLoadMaxBalance
                                            </td>
                                        </tr>

                                        @*<tr>
            <td class="tdlabel">
                Max Daily Balance
            </td>
            <td>
                @Model.MaxDailyBalance
            </td>
        </tr>*@

                                        <tr>
                                            <td class="tdlabel">
                                                Max Daily Load
                                            </td>
                                            <td>
                                                @Model.MaxDailyLoad
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="tdlabel">
                                                Max Weekly Load
                                            </td>
                                            <td>
                                                @Model.MaxWeeklyLoad
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="tdlabel">
                                                Max Monthly Load
                                            </td>
                                            <td>
                                                @Model.MaxMonthlyLoad
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="tdlabel">
                                                Max Yearly Load
                                            </td>
                                            <td>
                                                @Model.MaxYearlyLoad
                                            </td>
                                        </tr>


                                        @*<tr>
            <td class="tdlabel">
                Corporate Load Min Load Amount
            </td>
            <td>
                @Model.CorporateLoadMinLoadAmount
            </td>
        </tr>
        <tr>
            <td class="tdlabel">
                Max Topup Value
            </td>
            <td>
                @Model.MaxTopupValue
            </td>
        </tr>
        <tr>
            <td class="tdlabel">
                Min Topup Value
            </td>
            <td>
                @Model.MinTopupValue
            </td>
        </tr>*@

                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Program settings</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Type
                                            </td>
                                            <td>
                                                @Model.ProductType
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Reloadable
                                            </td>
                                            <td>
                                                @Model.Reloadable
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                For employee
                                            </td>
                                            <td>
                                                @Model.ForEmployee
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Online transactions
                                            </td>
                                            <td>
                                                @Model.OnlineTransactions
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                ATM  transactions
                                            </td>
                                            <td>
                                                @Model.ATMTransactions
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Transaction Alerts
                                            </td>
                                            <td>
                                                @Model.TransactionAlerts
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Spend Profile</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Spend Profile
                                            </td>
                                            <td>
                                                @Model.SpendProfileName
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Credit Profile</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Credit Profile
                                            </td>
                                            <td>
                                                @Model.CreditProfileName
                                            </td>
                                        </tr>
                                        <tr>

                                        <tr>
                                            <td colspan="2" class="tdheading">
                                                <span style="font-size:larger">Product Fee</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdlabel">
                                                Product Fee
                                            </td>
                                            <td>
                                                @Model.ProductFeeName
                                            </td>
                                        </tr>
                                        <tr>

                                            <td></td>
                                            <td>
                                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                                {
                                                    @Html.ActionLink("Edit", "UpdateProductDetails", "Product", new { productCode = Model.ProductCode }, new { @class = "btn btn-success" })

                                                }
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="border :1px solid black" hidden>
                            @*<ul class="list-unstyled user_data">
                                <li>
                                    Max daily balance: @Model.MaxDailyBalance
                                </li>
                                <li>
                                    Max daily load: @Model.MaxDailyLoad
                                </li>
                                <li>
                                    Max weekly load: @Model.MaxWeeklyLoad
                                </li>
                                <li>
                                    Max monthly load: @Model.MaxMonthlyLoad
                                </li>
                                <li>
                                    Max yearly load: @Model.MaxYearlyLoad
                                </li>
                                <li>
                                    Reloadable: @Model.Reloadable
                                </li>
                                <li>
                                    Online Transactions: @Model.OnlineTransactions
                                </li>
                                <li>
                                    ATM transactions: @Model.ATMTransactions
                                </li>
                                <li>
                                    For employee: @Model.ForEmployee
                                </li>
                            </ul>*@
                        </div>                       

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 hidden">


                                <div class="x_panel">

                                    <div class="x_content">

                                        <div class="row top_tiles">
                                            <a href="#">
                                                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                                                    <div class="tile-stats" style="background-color:#69c3c4;">
                                                        <div class="count">179</div>
                                                        <h3 style="color:#73879c">Total cards</h3>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                                                    <div class="tile-stats" style="background-color:#69c3c4;">
                                                        <div class="count">1029</div>
                                                        <h3 style="color:#73879c">Total Balance</h3>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                                                    <div class="tile-stats" style="background-color:#69c3c4;">
                                                        <div class="count">179</div>
                                                        <h3 style="color:#73879c">Transactions</h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <br />
                                        @*<a href="#"><h3>Reports</h3></a>*@
                                        <!-- start project list -->
                                        @*<table class="table table-striped projects" id="userCards">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.cards.Cards.FirstOrDefault().CardProxyId)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.cards.Cards.FirstOrDefault().Currency)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.cards.Cards.FirstOrDefault().Balance)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.cards.Cards.FirstOrDefault().Status)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.cards.Cards.FirstOrDefault().Expiry)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.cards.Cards.FirstOrDefault().ProductCode)
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.cards.Cards)
                                                    {
                                                        <tr>

                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CardProxyId)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Currency)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Balance)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Status)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Expiry)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ProductCode)
                                                            </td>
                                                            <td>
                                                                @Html.ActionLink("Transactions", "GetTransactions", "UserManagement", new { cardProxyId = item.CardProxyId, userId = Model.user.User.Id }, new { @class = "btn btn-info btn-xs" }) |
                                                                @Html.ActionLink("Edit", "UpdateLimits", "Products", new { cardProxyId = item.CardProxyId, userId = Model.user.User.Id }, new { @class = "btn btn-info btn-xs" })
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>*@
                                        <!-- end project list -->


                                        <div class="clearfix"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


