﻿@model CorporatePortal.Models.User.CardHolderDetailsPageModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td {
        font-size: larger;
        padding: 10px;
    }

    .tdlabel {
        font-weight: bold;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        padding:50px;
    }
</style>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Cardholder Details</h3>
        </div>

        <div class="title_right">

        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-3 col-sm-12 col-xs-12 profile_left">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <h3>@Model.CardHolder.FirstName  @Model.CardHolder.LastName</h3>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <table class="table table-condensed" style=" margin:10px">
                                            <tr>
                                                <td colspan="2" class="tdheading">
                                                    <span style="font-size:larger">General</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    First Name
                                                </td>
                                                <td>
                                                    @Model.CardHolder.FirstName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Last Name
                                                </td>
                                                <td>
                                                    @Model.CardHolder.LastName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Date of Birth
                                                </td>
                                                <td>
                                                    @Model.CardHolder.DateOfBirth.Date.ToString("dd-MM-yyyy")
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    Email
                                                </td>
                                                <td>
                                                    @Model.CardHolder.EmailAddress
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    Mobile
                                                </td>
                                                <td>
                                                    @Model.CardHolder.Mobile
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2" class="tdheading">
                                                    <span style="font-size:larger">Address</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    House or building number
                                                </td>
                                                <td>
                                                    @Model.CardHolder.HouseNumberOrBuilding
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="tdlabel">
                                                    Address1
                                                </td>
                                                <td>
                                                    @Model.CardHolder.Address1
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    Address2
                                                </td>
                                                <td>
                                                    @Model.CardHolder.Address2
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    City
                                                </td>
                                                <td>
                                                    @Model.CardHolder.City
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    County
                                                </td>
                                                <td>
                                                    @Model.CardHolder.State
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    Country
                                                </td>
                                                <td>
                                                    @Model.CardHolder.ISOCountryCode
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    PostCode
                                                </td>
                                                <td>
                                                    @Model.CardHolder.PostCode
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdlabel">
                                                    AllowATM
                                                </td>
                                                <td>
                                                    @Model.CardHolder.AllowATM
                                                </td>
                                            </tr>

                                        </table>
                                        <a href="@Request.UrlReferrer" class="btn btn-info pull-right" title="Back to list">
                                            <span>Back</span>
                                        </a>
                                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                        {
                                            @Html.ActionLink("Edit", "EditCardholder", "User", new { userId = Model.CardHolder.Id }, new { @class = "btn btn-success pull-right" })
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="profile_title">
                            <div class="col-md-6">
                                <h2>Cards</h2>
                            </div>
                        </div>

                        <div class="x_panel">
                            <div class="x_title">
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-12">
                                    <table class="table table-striped projects" id="userCards">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().CardProxyId)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().Expiry)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Cards.FirstOrDefault().ProductCode)
                                                </th>
                                                <th>
                                                    Day Remaining
                                                </th>
                                                <th>
                                                    Week Remaining
                                                </th>
                                                <th>
                                                    Month Remaining
                                                </th>
                                                <th>
                                                    Left to Spend
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Cards)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CardProxyId)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Expiry)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ProductCode)
                                                    </td>
                                                    <td>
                                                        @item.SpendDetail.DailyLeftToSpend
                                                    </td>
                                                    <td>
                                                        @item.SpendDetail.WeeklyLeftToSpend
                                                    </td>
                                                    <td>
                                                        @item.SpendDetail.MonthlyLeftToSpend
                                                    </td>
                                                    <td>
                                                        @item.SpendDetail.LeftToSpend
                                                    </td>
                                                    <td>
                                                        @if (item.Status == "Inactive" && item.FundsOwnership == "Company")
                                                        {
                                                            @Html.ActionLink("Activate", "ActivateExistingCardholder", "Load", new { cardProxyId = item.CardProxyId, productCode = item.ProductCode, cardholderId = Model.CardHolder.Id }, new { @class = "btn btn-primary btn-xs" })
                                                        }

                                                        @if (item.FundsOwnership == "Company")
                                                        {
                                                            @Html.ActionLink("Transactions", "GetTransactions", "User", new { cardProxyId = item.CardProxyId, userId = Model.CardHolder.Id }, new { @class = "btn btn-info btn-xs" })
                                                        }

                                                        @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                                        {
                                                            if (item.Status == "Normal" || item.Status == "Suspend" || item.Status == "Block")
                                                            {
                                                                @Html.ActionLink("Change Card Status", "ChangeCardStatus", "User", new { cardProxyId = item.CardProxyId, userId = Model.CardHolder.Id, currentStatus = item.Status }, new { @class = "btn btn-info btn-xs" })
                                                            }

                                                            @Html.ActionLink("Change Product Code", "ChangeProductCode", "User", new { cardProxyId = item.CardProxyId, productCode = item.ProductCode, userId = Model.CardHolder.Id }, new { @class = "btn btn-info btn-xs" })
                                                        }

                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="profile_title">
                            <div class="col-md-6">
                                <h2>Spend Profile</h2>
                            </div>
                        </div>

                        <div class="x_panel">
                            <div class="x_title">
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-12">
                                    <table class="table table-striped projects" id="userCards">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>
                                                    Spend Profile Name
                                                </th>
                                                <th>
                                                    Daily
                                                </th>
                                                <th>
                                                    Weekly
                                                </th>
                                                <th>
                                                    Monthly
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.SpendProfile.SpendProfile.SpendProfileId)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.SpendProfile.SpendProfile.ProfileName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.SpendProfile.SpendProfile.MaxDailyTxnTotalValue)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.SpendProfile.SpendProfile.MaxWeeklyTxnValue)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.SpendProfile.SpendProfile.MaxMonthlyTxnValue)
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="profile_title">
                            <div class="col-md-6">
                                <h2>Purchase Categories</h2>
                            </div>
                        </div>

                        <div class="x_panel">
                            <div class="x_title">
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="col-md-12">
                                    <table>
                                        @for (int i = 0; i < Model.PurchaseCategories.Count(); i++)
                                        {
                                            <tr>
                                                <td style=" border:1px solid black">
                                                    @Html.CheckBoxFor(m => m.PurchaseCategories[i].Selected, new { @disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.PurchaseCategories[i].Text)
                                                    @Html.HiddenFor(m => m.PurchaseCategories[i].Value)
                                                    @Html.HiddenFor(m => m.PurchaseCategories[i].Text)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
