﻿@model CorporatePortal.Models.Product.ChangeProductCodePageModel


@{
    ViewBag.Title = "ChangeProductCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Update Card Product</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> <small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @using (Html.BeginForm("ChangeProductCode", "User",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "form-horizontal form-label-left Form1" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.CurrentProductCode)
                        @Html.HiddenFor(model => model.CardProxyId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.CardProxyId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.CardProxyId, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.CardProxyId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12"><b>Current Product Code</b></span>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <span class="form-control col-md-7 col-xs-12">@Model.CurrentProductCode</span>
                                @Html.ValidationMessageFor(model => model.CurrentProductCode)
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12"><b>New  Product Code</b></span>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("NewProductCode", Model.productCodes, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.NewProductCode)
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">

                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                <button type="submit" class="btn btn-success submitBtn ">Submit</button>
                                @*<a href="@Request.UrlReferrer" class="btn btn-info " title="Back to list">
                        <span>Back</span>
                    </a>*@

                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Assets/PortalLayout1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script>
    $(document).ready(function () {
        $("#NewProductCode").select2();
        //$(".Form1").submit(function (event) {
        //     {

        //        var currentForm = this;
        //        event.preventDefault();
        //        bootbox.confirm({
        //            title: "Change card status?",
        //            message: "Are you sure? The card will be permanently blocked.",
        //            buttons: {
        //                cancel: {
        //                    label: '<i class="fa fa-times"></i> Cancel'
        //                },
        //                confirm: {
        //                    label: '<i class="fa fa-check"></i> Confirm'
        //                }
        //            },
        //            callback: function (result) {
        //                if (result) {
        //                    currentForm.submit();
        //                } else {
        //                    console.log("user declined");
        //                }
        //            }
        //        });
        //    }

        //});
    });
</script>


