﻿@model IEnumerable<CorporatePortal.Models.User.CardHoldersListPageModel>

@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Cardholders</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-striped projects" id="corporateUsers">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardProxyId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SpendProfile)
                            </th>
                            <th>
                                Card Status
                            </th>
                            <th>
                                IsActive
                            </th>
                            <th>
                                HasActiveCard
                            </th>
                            <th>
                                ProductCode
                            </th>
                            <th>
                                CreditProfile
                            </th>
                            <th>
                                CreatedDate
                            </th>
                            <th>
                                AllowATM
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardProxyId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpendProfile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HasActiveCard)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreditProfile)
                            </td>
                            <td>
                                @item.CreatedDate.ToString("d")
                            </td>
                            <td>
                                @item.AllowATM
                            </td>
                            <td>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                {
                                    @Html.ActionLink("Edit", "EditCardholder", "User", new { userId = item.UserId }, new { @class = "btn btn-primary btn-xs" })
                                }
                                @Html.ActionLink("Details", "CardholderDetails", "User", new { userId = item.UserId }, new { @class = "btn btn-info btn-xs" })
                                @Html.ActionLink("Order Card", "IndividualCardOrderExistingCardholder", "Order", new { cardholderId = item.UserId }, new { @class = "btn btn-info btn-xs" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


