﻿@model IEnumerable<CorporatePortal.Models.CardLoad.CorporateBatchLoadOrder>

@{
    ViewBag.Title = "BatchLoadDetails";
}

<style>
    .ct-active {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Batch Load Details</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <br />
                <table class="table table-striped projects" id="batchLoadDetails">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardProxyId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CorporateAccountId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BatchLoadFileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ErrorCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ErrorMessage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardProxyId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CorporateAccountId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BatchLoadFileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ErrorCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ErrorMessage)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        $(document).ready(function () {

            $('#batchLoadDetails').DataTable({
                "order": [[7, "desc"]],
                rowCallback: function (row, data, index) {
                    if (data[7] == 'Success') {
                        $(row).find('td:eq(7)').css('color', 'green').css('font-weight', 'bolder');

                    }
                    if (data[7] == 'Fail') {
                        $(row).find('td:eq(7)').css('color', 'red').css('font-weight', 'bolder')
                    }
                }
            });
        });
    });

</script>

