﻿@model IEnumerable<CorporatePortal.Models.CardLoad.BatchLoadHistoryPageModel>
@{
    ViewBag.Title = "BatchLoadHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Batch Files</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p></p>

                <!-- start project list -->
                <table class="table table-striped projects" id="batchLoadHistory">
                    <thead>
                        <tr>
                            <th>
                                File Name
                            </th>
                            <th>
                                File Status
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Updated Date
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Cards
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileName)
                                </td>
                                <td>                                                                       
                                    @Html.DisplayFor(modelItem => item.FileStatus)                              
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalCards)
                                </td>

                                <td>
                                    @Html.ActionLink("Details", "BatchLoadDetails", "Load", new { fileId = item.Id, fileName = item.FileName }, new { @class = "btn btn-info btn-xs" })
                                    @if (item.FileStatus != "Processed")
                                    {
                                        @Html.ActionLink("Process", "ProcessBatchLoad", "Load", new { fileId = item.Id, fileName = item.FileName }, new { @class = "btn btn-success btn-xs processBtn" })
                                    }

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        
        $('#batchLoadHistory').DataTable({
            "order": [[3, "desc"]],
            rowCallback: function (row, data, index) {
                if (data[1] == 'Processed') {
                    $(row).find('td:eq(1)').css('color', 'green').css('font-weight', 'bolder');                    
                    
                }
                if (data[1] == 'Pending') {
                    $(row).find('td:eq(1)').css('color', 'blue').css('font-weight', 'bolder');
                    
                }
                if (data[1] == 'Partially Processed') {
                    $(row).find('td:eq(1)').css('color', 'red').css('font-weight','bolder')    
                }
            }
            });
    });

</script>

