﻿@model CorporatePortal.Models.CardLoad.LoadPageModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3></h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cards<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class"row">
                        @using (Html.BeginForm("Home", "Load",
                  new { ReturnUrl = ViewBag.ReturnUrl },
                  FormMethod.Post, new { @class = "form-label-left form-inline" }))
                        {
                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <label for="productCode" style="font-weight:bolder;font-size:larger">Product : </label> @Html.DropDownList("productCode", Model.ProductsList, htmlAttributes: new { @class = "form-control", @style = "width:280px" })
                            </div>

                            <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                <label for="status" style="font-weight:bolder;font-size:larger">Status : </label>@Html.DropDownList("status", Model.TypeList, htmlAttributes: new { @class = "form-control", @style = "width:280px" })
                            </div>
                        }
                    </div>

                    <script src="~/Assets/PortalLayout1/build/js/custom.js"></script>

                    <div id="cards">

                        @if (Model.vcards != null)
                        {

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>@ViewBag.ProductCode<small>Active </small></h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">

                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">


                                            <div class="table-responsive">
                                                <table class="table table-striped " id="activeCardsHome">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th class="column-title">CardID </th>
                                                            <th class="column-title">Currency </th>
                                                            <th class="column-title">ProductCode </th>
                                                            <th class="column-title">Balance </th>
                                                            <th class="column-title">FirstName </th>
                                                            <th class="column-title">LastName </th>
                                                            <th class="column-title">Email </th>
                                                            <th class="column-title">Status </th>

                                                            <th></th>


                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @foreach (var item in Model.vcards)
                                                        {
                                                            <tr class="even pointer">
                                                                <td class=" ">@item.CardProxyId</td>
                                                                <td class=" ">@item.Currency </td>
                                                                <td class=" ">@item.ProductCode </td>
                                                                <td class=" ">@item.Balance</td>
                                                                <td class=" ">@item.CardHolder.FirstName</td>
                                                                <td class=" ">@item.CardHolder.LastName </td>
                                                                <td class=" ">@item.CardHolder.EmailAddress </td>
                                                                <td class=" ">@item.CardStatus</td>
                                                                <th>
                                                                    @if (item.CardStatus == "Normal" || item.CardStatus == "Inactive")
                                                                    {
                                                                        @Html.ActionLink("Load", "LoadCard", "Load", new { cardProxyId = item.CardProxyId, productCode = item.ProductCode, status = Model.status }, new { @class = "btn btn-success btn-xs" })
                                                                    }

                                                                    @Html.ActionLink("Details", "CardholderDetails", "User", new { UserId = item.CardholderId }, new { @class = "btn btn-primary btn-xs" })                                                                                                                                   

                                                                </th>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                        @if (Model.activecards != null)
                        {
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>@ViewBag.ProductCode<small>Active </small></h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">

                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">


                                            <div class="table-responsive">
                                                <table class="table table-striped " id="activeCardsHome">
                                                    <thead>
                                                        <tr class="headings">
                                                            <th class="column-title">CardID </th>
                                                            <th class="column-title">Currency </th>
                                                            <th class="column-title">ProductCode </th>
                                                            <th class="column-title">Balance </th>
                                                            <th class="column-title">FirstName </th>
                                                            <th class="column-title">LastName </th>
                                                            <th class="column-title">Email </th>
                                                            <th class="column-title">Status </th>

                                                            <th></th>


                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @foreach (var item in Model.activecards)
                                                        {
                                                            <tr class="even pointer">
                                                                <td class=" ">@item.CardProxyId</td>
                                                                <td class=" ">@item.Currency </td>
                                                                <td class=" ">@item.ProductCode </td>
                                                                <td class=" ">@item.Balance</td>
                                                                <td class=" ">@item.CardHolder.FirstName</td>
                                                                <td class=" ">@item.CardHolder.LastName </td>
                                                                <td class=" ">@item.CardHolder.EmailAddress </td>
                                                                <td class=" ">@item.CardStatus</td>
                                                                <th>
                                                                    @if (item.CardStatus == "Normal" || item.CardStatus == "Inactive")
                                                                    {
                                                                        @Html.ActionLink("Load", "LoadCard", "Load", new { cardProxyId = item.CardProxyId, productCode = item.ProductCode, status = Model.status }, new { @class = "btn btn-success btn-xs" })
                                                                    }

                                                                    @Html.ActionLink("Details", "CardholderDetails", "User", new { UserId = item.CardholderId }, new { @class = "btn btn-primary btn-xs" })
                                                                </th>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                        @if (Model.inactivecards != null)
                        {
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2> @ViewBag.ProductCode<small>Inactive </small></h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li>
                                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content">


                                            <div class="table-responsive">
                                                <table class="table table-striped projects" id="inactiveCardsHome">
                                                    <thead>
                                                        <tr class="headings">

                                                            <th class="column-title">CardID </th>
                                                            <th class="column-title">Currency </th>
                                                            <th class="column-title">ProductCode </th>
                                                            <th class="column-title">Balance </th>
                                                            <th class="column-title">Status </th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @foreach (var item in Model.inactivecards)
                                                        {
                                                            <tr class="even pointer">

                                                                <td class=" ">@item.CardProxyId</td>
                                                                <td class=" ">@item.Currency </td>
                                                                <td class=" ">@item.ProductCode </td>
                                                                <td class=" ">@item.Balance</td>
                                                                <td class=" ">@item.CardStatus</td>
                                                                <th>
                                                                    @if (item.CardStatus == "Normal" || item.CardStatus == "Inactive")
                                                                    {
                                                                        @Html.ActionLink("Load", "LoadCard", "Load", new { cardProxyId = item.CardProxyId, productCode = item.ProductCode, status = Model.status }, new { @class = "btn btn-success btn-xs" })
                                                                    }
                                                                </th>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Assets/PortalLayout1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script>
    $(document).ready(function () {

        $("#productCode").on("change", function () {

            $('#status').val(0);
            $('#cards').fadeOut('fast');

        });
        $("#status").on("change", function () {

            var pcode = $('#productCode').val();
            var status = $('#status').val();
            $("form").submit();

        });

          var success = @((TempData["Success"] != null).ToString().ToLower());
        if (success == true) {
            bootbox.alert({
                message: "@(TempData["Success"])",
                backdrop: true,
                size: 'large',
                className: 'bb-alternate-modal'
            });
        }
    });
</script>

