﻿@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "InvalidBatchLoadExcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Loads</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p> Following <span style="font-size:larger">@Model.Rows.Count</span> records are invalid. Please correct them in the file and try again    @Html.ActionLink("Batch Load", "atchLoadCards", "Load")</p>

                <!-- start project list -->
                <table class="table table-striped projects" id="batchorderhistory">
                    <thead>
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {
                                <th>@col.ColumnName</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in Model.Rows)
                        {
                            <tr>
                                @foreach (DataColumn col in Model.Columns)
                                {
                                    <td>@row[col.ColumnName]</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>