﻿@model CorporatePortal.Models.CardLoad.LoadCardVM


@{
    ViewBag.Title = "LoadCard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Load card</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> <small></small></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    @using (Html.BeginForm("LoadCard", "Load",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountId, "Account", new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(model => model.AccountId, new SelectList(Model.CorporateAccounts, "Id", "AccountDetails"), "- Please Select -", new  { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.AccountId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CardProxyId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.CardProxyId, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.CardProxyId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.productCode)
                        @Html.HiddenFor(model=>model.status)
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-info">Submit</button>
                                <a href="@Request.UrlReferrer">
                                    <input type="button" value="Back" class="btn btn-info" />
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





