﻿@model CorporatePortal.Models.CardLoad.TransferFundsPageModel
@{
    ViewBag.Title = "InstantIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .validation-summary-errors ul {
        list-style-type: none;
        font-weight: bold
    }

    td {
        font-size: larger;
        padding: 10px;
    }

    .tdlabel {
        font-weight: bold;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 20px;
    }
       
</style>

<h2>Transfer Funds</h2>


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("TransferFundsBetweenCards", "Load",
                       new { ReturnUrl = ViewBag.ReturnUrl },
                       FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })

                    @Html.HiddenFor(modelItem => modelItem.cardholderId)
                    @Html.HiddenFor(modelItem => modelItem.cardProxyIdFrom)
                    @Html.HiddenFor(modelItem => modelItem.cardProxyIdFromBalance)
                    @Html.HiddenFor(modelItem => modelItem.cardProxyIdFromStatus)
                    @Html.HiddenFor(modelItem => modelItem.productCode)
                    @Html.HiddenFor(modelItem => modelItem.cardProxyIdTo)
                    @Html.HiddenFor(modelItem => modelItem.PAN)


                    <div class="form-group">
                        <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Transfer funds from :</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Transfer funds from CardId :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.cardProxyIdFrom, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.cardProxyIdFrom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Status :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.cardProxyIdFromStatus, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.cardProxyIdFromStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Balance :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.cardProxyIdFromBalance, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.cardProxyIdFromBalance, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Transfer funds to :</span>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> PAN :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.PAN, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.PAN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Transfer funds to CardId :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.cardProxyIdTo, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.cardProxyIdTo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Amount :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-info">Submit</button>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
