﻿
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Confirmation</h3>
            </div>

            <div class="title_right">

            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        Thank you for confirming email. Please click <a href="~/Account/Login">here</a> to <a href="~/Account/Login"> login</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

