﻿@model CorporatePortal.Models.Account.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgottten password";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<a href="~/Home/Index">
    <img class="img-responsive avatar-view" src="~/Assets/PortalLayout1/build/images/Q-Pay-Logo_Dark.png" alt="Q-Pay" title="Q-Pay">
</a>
@using (Html.BeginForm("GenerateForgottenPasswordToken", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h1>Forgotten password</h1>
    <p>Please enter your email to reset your password.</p>
    <div>
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control", @placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.TextBoxFor(m => m.ConfirmEmailAddress, new { @class = "form-control", @placeholder = "Confirm Email" })
        @Html.ValidationMessageFor(m => m.ConfirmEmailAddress, "", new { @class = "text-danger" })
    </div>
    <div>
        <input type="submit" value="Submit" class="btn btn-info" />
        <a href="~/Account/Login">
                <input type="button" value="Back" class="btn btn-info"/>            
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
            <h1></h1>
            <p>©2021 All Rights Reserved.Privacy and Terms</p>
        </div>
    </div>
}

