﻿@model CorporatePortal.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<div id="crop-avatar">
    <!-- Current avatar -->
    <a href="~/Home/Index">
        <img class="img-responsive avatar-view" src="~/Assets/PortalLayout1/build/images/Q-Pay-Logo_Dark.png" alt="Q-Pay" title="Q-Pay">
    </a>

</div>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h1>Login Form</h1>
    <div>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })
        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col col-xs-12">
            <input type="submit" value="Log in" class="btn btn-info" />
        </div>
        <div class="col-lg-6 col-md-6 col col-xs-12">
            <div class="col-lg-6 col-md-6 col col-xs-12">
                <a class="" href="~/Account/ForgotUsername">Forgotten username?</a>
            </div>
            <div class="col-lg-6 col-md-6 col col-xs-12">
                <a class="" href="~/Account/ForgotPassword">Forgotten password?</a>
            </div>
        </div>
    </div>
        <div class="clearfix"></div>
        <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
                <h1></h1>
                <p>©2021 All Rights Reserved.Privacy and Terms</p>
            </div>
        </div>
        }

