﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<a href="~/Home/Index">
    <img class="img-responsive avatar-view" src="~/Assets/PortalLayout1/build/images/Q-Pay-Logo_Dark.png" alt="Q-Pay" title="Q-Pay">
</a>
<br />
<p>
    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>