﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<a href="~/Home/Index">
    <img class="img-responsive avatar-view" src="~/Assets/PortalLayout1/build/images/Q-Pay-Logo_Dark.png" alt="Q-Pay" title="Q-Pay">
</a>

<br />
<p>
    Please check your email to reset your password.
</p>


