﻿@model CorporatePortal.Models.Account.PasswordResetModel

@{
    ViewBag.Title = "Rest Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<a href="~/Home/Index">
    <img class="img-responsive avatar-view" src="~/Assets/PortalLayout1/build/images/Q-Pay-Logo_Dark.png" alt="Q-Pay" title="Q-Pay">
</a>
@using (Html.BeginForm("PasswordReset", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h1>Reset password</h1>
    <div>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    @Html.HiddenFor(m => m.ResetToken)
    @Html.HiddenFor(m => m.UserId)

    <div>

        <input type="submit" value="Submit" class="btn btn-info" />
    </div>
    <div class="clearfix"></div>
    <div class="separator">

        <div class="clearfix"></div>
        <br />

        <div>
            <h1></h1>
            <p>©2021 All Rights Reserved.Privacy and Terms</p>
        </div>
    </div>
}
