﻿@model CorporatePortal.Models.CardOrders.BatchOrder
@{
    ViewBag.Title = "BatchOrderCardsSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Summary</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>                  
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @foreach (var item in Model.CardOrders.GroupBy(x => x.ProductCode))
                {
                <h4 display:inline">
                    <span style="font-size:x-large;color:#5bc0de">ProductCode : ></span><span style="margin-left:5px">@item.Key</span> 
                    <span style="font-size:x-large; margin-left:20px;color:#5bc0de">Total Cards : ></span> <span style="margin-left:5px">@item.Count()</span> 
                    <span style="font-size:x-large;margin-left:20px;color:#5bc0de">FileName : ></span><span style="margin-left:5px">@Model.CardOrders[0].cardFileName</span>
                </h4>
                  
                    <table class="table table-striped projects" id="batchOrderSummary">

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].ProductCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].CardDesign)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].NameOnCard)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].AdditionalCardEmbossData)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].Dob)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].RecipientEmail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].Mobile)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].Address1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].Address2)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].Address3)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].State)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].ISOCountryCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CardOrders[1].PostCode)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in item)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => order.ProductCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.CardDesign)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.NameOnCard)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.AdditionalCardEmbossData)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.Dob)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.RecipientEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.Mobile)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.Address1)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.Address2)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.Address3)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.ISOCountryCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => order.PostCode)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>

                }
            </div>
           
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-center">
            @using (Html.BeginForm("SubmitOrder", "Order", FormMethod.Post))
            {
                for (int i = 0; i < Model.CardOrders.Count; i++)
                {
                    @Html.HiddenFor(m => m.CardOrders[i].FirstName)
                    @Html.HiddenFor(m => m.CardOrders[i].LastName)
                    @Html.HiddenFor(m => m.CardOrders[i].NameOnCard)
                    @Html.HiddenFor(m => m.CardOrders[i].Address1)
                    @Html.HiddenFor(m => m.CardOrders[i].Address2)
                    @Html.HiddenFor(m => m.CardOrders[i].Address3)
                    @Html.HiddenFor(m => m.CardOrders[i].RecipientEmail)
                    @Html.HiddenFor(m => m.CardOrders[i].City)
                    @Html.HiddenFor(m => m.CardOrders[i].ISOCountryCode)
                    @Html.HiddenFor(m => m.CardOrders[i].PostCode)
                    @Html.HiddenFor(m => m.CardOrders[i].ProductCode)
                    @Html.HiddenFor(m => m.CardOrders[i].Dob)
                    @Html.HiddenFor(m => m.CardOrders[i].State)
                    @Html.HiddenFor(m => m.CardOrders[i].cardFileName)
                    @Html.HiddenFor(m => m.CardOrders[i].CardDesign)
                    @Html.HiddenFor(m => m.CardOrders[i].AdditionalCardEmbossData)
                }

                <input class="btn btn-success" type="submit" value="Order Cards" />
                <a href="~/Order/BatchOrderCards">
                    <input type="button" value="Back" class="btn btn-info" />
                </a>
            }
        </div>
    </div>
</div>


