﻿@model IEnumerable<CorporatePortal.Models.CardOrders.BatchOrderHistory>

@{
    ViewBag.Title = "BatchOrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ct-active {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Batch Orders History</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p></p>

                @Html.ActionLink("New Order", "BatchOrderCards", "Order", new { @class = "btn btn-info" })
                <table class="table table-striped projects" id="batchorderhistory">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.BatchOrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardFileName)
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BatchOrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardFileName)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "GetBatchOrderDetails", "Order", new { batchOrderId = item.BatchOrderId }, new { @class = "btn btn-primary btn-xs" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>

<script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Assets/PortalLayout1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script>
    $(document).ready(function () {
          var success = @((TempData["Success"] != null).ToString().ToLower());
        if (success == true) {
            bootbox.alert({
                message: "@(TempData["Success"])",
                backdrop: true,
                size: 'large',
                className: 'bb-alternate-modal',
                callback: function () {
                    $("#batchorderhistory tbody tr:first").hide().fadeIn(1000).addClass('ct-active');
                }
            });
           
        }
    });
</script>





