﻿@model CorporatePortal.Models.CardOrders.BatchOrderCards

@{
    ViewBag.Title = "BatchOrderCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>New Batch Order</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>

                    @using (Html.BeginForm("BatchOrderCardsExcel", "Order", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-horizontal form-label-left">
                            @*<div class="form-group">
                                    @Html.LabelFor(model => model.Product.ProductCode, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        @Html.DropDownListFor(model => model.Product.ProductCode, Model.Products, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Product.ProductCode)
                                    </div>
                                </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.postedFile, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(model => model.postedFile, new { @class = "form-control col-md-7 col-xs-12", type = "file" })
                                    @Html.ValidationMessageFor(model => model.postedFile)
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <a href="~/Order/Index">
                                        <input type="button" value="Back" class="btn btn-info" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2> <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <pre>
                        <b>Valid format :  RowId, ProductCode, CardDesign, Firstname, Lastname, NameOnCard, AdditionalCardEmbossData, Dob, Email, Mobile, Address1, Address2, Address3, City, County, CountryCode, PostCode</b>
                    <br/>
                    <b>@Html.ActionLink("Download Template", "DownloadFile", "Order", new { @class = "btn btn-success btn-xs" })</b>
                    </pre>
                    
                </div>
            </div>
        </div>
    </div>
</div>

