﻿@model IEnumerable<CorporatePortal.Models.CardOrders.PrepaidCardOrder>

@{
    ViewBag.Title = "GetBatchOrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Batch Order Details</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>                  
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p></p>

                <!-- start project list -->
                <table class="table table-striped projects" id="batchorderhistory">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardDesign)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NameOnCard)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AdditionalCardEmbossData)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dob)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RecipientEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ISOCountryCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardFileName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardDesign)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameOnCard)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdditionalCardEmbossData)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dob)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecipientEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ISOCountryCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardFileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->
                <br/>
                <a href="@Request.UrlReferrer">
                    <input type="button" value="Back" class="btn btn-info pull-right" />
                </a>
            </div>
        </div>
    </div>
</div>


