﻿
@model IEnumerable<CorporatePortal.Models.CardLoad.CorporateCard>

@{


}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>CardID : @ViewBag.CardProxyId<small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">

                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">


                <div class="table-responsive">
                    <table class="table table-striped " id="activeCardsHome">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">CardID </th>
                                <th class="column-title">Currency </th>
                                <th class="column-title">ProductCode </th>
                                <th class="column-title">Balance </th>
                                <th class="column-title">FirstName </th>
                                <th class="column-title">LastName </th>
                                <th class="column-title">Email </th>
                                <th class="column-title">Status </th>

                                <th></th>


                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="even pointer">
                                    <td class=" ">@item.CardProxyId</td>
                                    <td class=" ">@item.Currency </td>
                                    <td class=" ">@item.ProductCode </td>
                                    <td class=" ">@item.Balance</td>
                                    <td class=" ">@item.CardHolder.FirstName</td>
                                    <td class=" ">@item.CardHolder.LastName </td>
                                    <td class=" ">@item.CardHolder.EmailAddress </td>
                                    <td class=" ">@item.CardStatus</td>
                                    <th>
                                        @Html.ActionLink("Load", "LoadCard", "Load", new { cardProxyId = item.CardProxyId, productCode = item.ProductCode }, new { @class = "btn btn-success btn-xs" }) ||
                                        @Html.ActionLink("Details", "CardholderDetails", "User", new { UserId = item.CardholderId }, new { @class = "btn btn-primary btn-xs" }) ||
                                        @Html.ActionLink("Change Status", "ChangeCardStatus", "Load", new { cardProxyId = item.CardProxyId, userId = item.CardholderId }, new { @class = "btn btn-success btn-xs" })
                                    </th>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

</div>