﻿@model CorporatePortal.Models.CardOrders.OrderHomePageModel
@{
    ViewBag.Title = "OrderCardsHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Orders <small></small></h3>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <!--Fuelmate-->
        
    <div class="col-md-6 col-sm-6 col-xs-12 collapsed">
        <div class="x_panel">
            <div class="x_title">
                <h2>BatchOrders <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @Html.ActionLink("New Order", "BatchOrderCards", "Order", null,new { @class = "btn btn-info" })
                <table class="table table-striped projects" id="batchorderhistory">
                    <thead>
                        <tr>
                            <th>
                                BatchOrderId
                            </th>
                            <th>
                                CreatedDate
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                CardFileName
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.batchOrders)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BatchOrderId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardFileName)
                            </td>
                            <td>

                                @Html.ActionLink("Details", "GetBatchOrderDetails", "Order", new { batchOrderId = item.BatchOrderId }, new { @class = "btn btn-primary btn-xs" })
                                @Html.ActionLink("Cancel", "CancelBatchOrder", "Order", new { batchOrderId = item.BatchOrderId }, new { @class = "btn btn-danger btn-xs hide" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>

    </div>

        <!--
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Virtual Cards <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @Html.ActionLink("New Order", "OrderVirtualCard", "Order", null,new { @class = "btn btn-info" })
                    <table class="table table-striped projects" id="virtualCards">
                        <thead>
                            <tr>
                                <th>
                                    CardProxyId
                                </th>
                                <th>
                                    Cardholder FirstName
                                </th>
                                <th>
                                    Cardholder LastName
                                </th>
                                <th>
                                    Card Status
                                </th>
                                <th>
                                    Card Balance
                                </th>
                                <th>
                                    Product Code
                                </th>
                                <th style="width: 20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VirtualCards)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardProxyId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardHolder.FirstName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CardHolder.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Balance)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductCode)
                                </td>
                                <td>

                                    @Html.ActionLink("Details", "GetVirtualCardDetail", "Order", new { cardProxyId = item.CardProxyId }, new { @class = "btn btn-primary btn-xs" })
                                    @Html.ActionLink("Cancel", "CancelBatchOrder", "Order", new { batchOrderId = item.CardProxyId }, new { @class = "btn btn-danger btn-xs hide" })
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        
        -->
        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Individual Cards <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <!--fuelamte-->
                    @Html.ActionLink("New Order", "IndividualCardOrder", "Order", null, new { @class = "btn btn-info" })
                    <br />
                    <br />
                    <table class="table table-striped projects" id="individualOrderHistory">
                        <thead>
                            <tr>
                                <th>
                                    OrderId
                                </th>

                                <th>
                                    ProductCode
                                </th>
                                <th>
                                    FirstName
                                </th>
                                <th>
                                    LastName
                                </th>
                                <th>
                                    RecipientEmail
                                </th>
                                <th>
                                    Address1
                                </th>
                                <th>
                                    Address2
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    County
                                </th>
                                <th>
                                    Country
                                </th>
                                <th>
                                    Postcode
                                </th>
                                <th>
                                    CreatedDate
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.individualOrders)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecipientEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.State)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ISOCountryCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PostCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

