﻿@model IEnumerable<CorporatePortal.Models.CardOrders.PrepaidCardOrder>

@{
    ViewBag.Title = "InvidualCardOrderHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ct-active {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Individual Orders History</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p></p>

                @Html.ActionLink("New Order", "IndividualCardOrder", "Order", new { @class = "btn btn-info" })
                <br />
                <br />
                <table class="table table-striped projects" id="individualCardOrderHistory">
                    <thead>
                        <tr>
                            <th>
                                OrderId
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardDesign)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NameOnCard)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AdditionalCardEmbossData)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dob)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RecipientEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address3)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ISOCountryCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CardDesign)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameOnCard)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdditionalCardEmbossData)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dob)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecipientEmail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ISOCountryCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>


<script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Assets/PortalLayout1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script>
    $(document).ready(function () {
          var success = @((TempData["Success"] != null).ToString().ToLower());
        if (success == true) {
            bootbox.alert({
                message: "@(TempData["Success"])",
                backdrop: true,
                size: 'large',
                className: 'bb-alternate-modal',
                callback: function () {
                    $("#individualCardOrderHistory tbody tr:last").hide().fadeIn(1000).addClass('ct-active');
                }
            });           
        }
    });
</script>


