﻿
@{
    ViewBag.Title = "OrderVirtualCardOrderError";
}

<h2>OrderVirtualCardOrderError</h2>

<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center">
            <h1 class="error-number">Oops!</h1>
            <h2></h2>
            <p>
                The cardholder was successfully created but there was a problem ordering the card! <a href="~/Order/OrderVirtualCard">Go Back</a>
            </p>
            @*<div class="mid_center">
                <h3>Search</h3>
                <form>
                    <div class="col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>*@
        </div>
    </div>
</div>