﻿
@model IEnumerable<CorporatePortal.Models.CardLoad.CorporateCard>

@{
    ViewBag.Title = "VirtualCardOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ct-active {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        font-weight:bold;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Virtual Orders History</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p></p>
                @Html.ActionLink("New Order", "OrderVirtualCard", "Order", new { @class = "btn btn-info" })
                <br />
                <br />
                <table class="display" style="width:100%" id="virtualCardOrderHistory">
                    <thead>
                        <tr>
                            <th class="column-title">CardID </th>
                            <th class="column-title">Currency </th>
                            <th class="column-title">ProductCode </th>
                            <th class="column-title">Balance </th>

                            <th>
                                @Html.DisplayNameFor(model => model.CardHolder.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardHolder.LastName)
                            </th>
                            <th>
                                Dob
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardHolder.EmailAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardHolder.Address1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardHolder.City)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardHolder.ISOCountryCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CardHolder.PostCode)
                            </th>
                            <th class="column-title">Status </th>

                            <th class="hide">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class=" ">@item.CardProxyId</td>
                            <td class=" ">@item.Currency </td>
                            <td class=" ">@item.ProductCode </td>
                            <td class=" ">@item.Balance</td>

                            <td class=" ">@item.CardHolder.FirstName</td>
                            <td class=" ">@item.CardHolder.LastName </td>
                            <td class=" ">@item.CardHolder.DateOfBirth </td>
                            <td class=" ">@item.CardHolder.EmailAddress</td>
                            <td class=" ">@item.CardHolder.Address1</td>
                            <td class=" ">@item.CardHolder.City </td>
                            <td class=" ">@item.CardHolder.ISOCountryCode</td>
                            <td class=" ">@item.CardHolder.PostCode</td>
                            <td class=" ">@item.CardStatus</td>
                            <td class="hide" style="">@item.CardHolder.CreatedDate</td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>


<script src="~/Assets/PortalLayout1/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/Assets/PortalLayout1/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script>
    $(document).ready(function () {    
          var success = @((TempData["Success"] != null).ToString().ToLower());
        if (success == true) {
            bootbox.alert({
                message: "@(TempData["Success"])",
                backdrop: true,
                size: 'large',
                className: 'bb-alternate-modal'
            });
            $("#virtualCardOrderHistory tbody tr:last").hide().fadeIn(1000).addClass('ct-active');
        }
    });
</script>





















