﻿@model CorporatePortal.Models.Product.SpentProfileListPageModel

@{
    ViewBag.Title = "SpendProfiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <h2>Spend Profiles</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- start project list -->
                <table class="table table-striped projects" id="spendProfilesList">
                    <thead>
                        <tr>
                            <th>
                                SpendProfileId
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Max Daily Txn Val
                            </th>
                            <th>
                                Max Weekly Txn Val
                            </th>
                            <th>
                                Max Monthly Txn Val
                            </th>
                            <th>
                                Max Single Txn Val
                            </th>
                            <th>
                                Daily Velocity
                            </th>
                            <th>
                                Weekly Velocity
                            </th>
                            <th>
                                Monthly Velocity
                            </th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ProfileList)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SpendProfileId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfileName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxDailyTxnTotalValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxWeeklyTxnValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxMonthlyTxnValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxSingleTxnValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DailyVelocity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WeeklyVelocity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MonthlyVelocity)
                            </td>
                            <td>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin"))
                                {
                                    @Html.ActionLink("Update", "Update", "SpendProfile", new { spendProfileId = item.SpendProfileId }, new { @class = "btn btn-info btn-xs " })
                                    <b>@Html.ActionLink("Delete", "DeleteSpendProfile", new { spendProfileId = item.SpendProfileId }, new { @class = "btn btn-danger btn-xs ", onclick = "return confirm('Are you sure you want to delete this spend profile? All associated products will be updated. This action cannot be undone.');" })</b>
                                }
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>

