﻿@model CorporatePortal.Models.Product.PurchaseCategoryPageModel

@{
    ViewBag.Title = "Purchase Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <h2>Purchase Categories</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- start project list -->
                <table class="table table-striped projects" id="purchaseCategoriesList">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Max Daily Txn Val
                            </th>
                            <th>
                                Max Weekly Txn Val
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.purchaseCategories)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>                           
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxDailyTxnTotalValue)
                            </td>                          
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxWeeklyTxnValue)
                            </td>                           
                            <td>
                                @if (this.User.IsInRole("Admin") || this.User.IsInRole("CorporateAdmin") || this.User.IsInRole("CorporateManager"))
                                {
                                    @Html.ActionLink("Update", "UpdatePurchaseCategory", "SpendProfile", new { categoryId = item.Id }, new { @class = "btn btn-info btn-xs " })
                                }
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- end project list -->

            </div>
        </div>
    </div>
</div>