﻿@model CorporatePortal.Models.Product.UpdatePurchaseCategoryViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td {
        font-size: larger;
        padding: 10px;
    }

    .tdlabel {
        font-weight: bold;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 20px;
    }

    .form-control:focus {
        border-color: #CCD0D7;
        box-shadow: none !important
    }
</style>

<style>
</style>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Update Purchase Category<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <br>
                    @using (Html.BeginForm("UpdatePurchaseCategory", "SpendProfile",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PurchaseCategory.Id)

                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">General</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchaseCategory.Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.PurchaseCategory.Name, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.PurchaseCategory.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchaseCategory.MaxDailyTxnTotalValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.PurchaseCategory.MaxDailyTxnTotalValue, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.TextBoxFor(model => model.PurchaseCategory.MaxDailyTxnTotalValue, new { placeholder = "Cannot exceed £10000", @class = "form-control col-md-7 col-xs-12", @Value = (Model.PurchaseCategory.MaxDailyTxnTotalValue > 0 ? Model.PurchaseCategory.MaxDailyTxnTotalValue.ToString() : string.Empty) })

                                @Html.ValidationMessageFor(model => model.PurchaseCategory.MaxDailyTxnTotalValue, "", new { @class = "text-danger" })
                            </div>
                        </div>                       

                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchaseCategory.MaxWeeklyTxnValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.PurchaseCategory.MaxWeeklyTxnValue, new { placeholder = "Cannot exceed £15000", @class = "form-control col-md-7 col-xs-12", @Value = (Model.PurchaseCategory.MaxWeeklyTxnValue > 0 ? Model.PurchaseCategory.MaxWeeklyTxnValue.ToString() : string.Empty) })
                                @Html.ValidationMessageFor(model => model.PurchaseCategory.MaxWeeklyTxnValue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                       
                        <hr />
                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Merchant Codes</span>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12">                               
                                <table>
                                    <tr>
                                        <td colspan="">
                                            <input type="checkbox" id="ckbCheckAll">
                                        </td>
                                        <td>
                                            <b>Select All</b>
                                        </td>
                                    </tr>
                                    @for (int i = 0; i < Model.Mcc.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.CheckBoxFor(m => m.Mcc[i].Selected, new { @class = "checkBoxClass" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.Mcc[i].Text)
                                                @Html.HiddenFor(m => m.Mcc[i].Value)
                                                @Html.HiddenFor(m => m.Mcc[i].Text)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
    $(document).ready(function () {
        $("#ckbCheckAll").click(function () {
            $(".checkBoxClass").prop('checked', $(this).prop('checked'));
        });
        $(".checkBoxClass").change(function () {
            if (!$(this).prop("checked")) {
                $("#ckbCheckAll").prop("checked", false);
            }
        })
    });
</script>
