﻿@model CorporatePortal.Models.Product.UpdateSpendProfileViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td {
        font-size: larger;
        padding: 10px;
    }

    .tdlabel {
        font-weight: bold;
    }

    .tdheading {
        color: #69c3c4;
        font-weight: bold;
        font-size: 20px;
    }

    .form-control:focus {
        border-color: #CCD0D7;
        box-shadow: none !important
    }
</style>

<style>
</style>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Update Spend Profile<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <br>
                    @using (Html.BeginForm("Update", "SpendProfile",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.SpendProfile.SpendProfileId)

                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">General</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.SpendProfileId, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.SpendProfile.SpendProfileId, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", disabled = "disabled", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SpendProfile.SpendProfileId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.ProfileName, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.SpendProfile.ProfileName, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.SpendProfile.ProfileName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.MaxDailyTxnTotalValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SpendProfile.MaxDailyTxnTotalValue, new { placeholder = "Cannot exceed £10000", @class = "form-control col-md-7 col-xs-12", @Value = (Model.SpendProfile.MaxDailyTxnTotalValue > 0 ? Model.SpendProfile.MaxDailyTxnTotalValue.ToString() : string.Empty) })
                                @Html.ValidationMessageFor(model => model.SpendProfile.MaxDailyTxnTotalValue, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.MaxWeeklyTxnValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SpendProfile.MaxWeeklyTxnValue, new { placeholder = "Cannot exceed £15000", @class = "form-control col-md-7 col-xs-12", @Value = (Model.SpendProfile.MaxWeeklyTxnValue > 0 ? Model.SpendProfile.MaxWeeklyTxnValue.ToString() : string.Empty) })
                                @Html.ValidationMessageFor(model => model.SpendProfile.MaxWeeklyTxnValue, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.MaxMonthlyTxnValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SpendProfile.MaxMonthlyTxnValue, new { placeholder = "", @class = "form-control col-md-7 col-xs-12", @Value = (Model.SpendProfile.MaxMonthlyTxnValue > 0 ? Model.SpendProfile.MaxMonthlyTxnValue.ToString() : string.Empty) })
                                @Html.ValidationMessageFor(model => model.SpendProfile.MaxMonthlyTxnValue, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.MaxSingleTxnValue, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SpendProfile.MaxSingleTxnValue, new { placeholder = "", @class = "form-control col-md-7 col-xs-12", @Value = (Model.SpendProfile.MaxSingleTxnValue > 0 ? Model.SpendProfile.MaxSingleTxnValue.ToString() : string.Empty) })
                                @Html.ValidationMessageFor(model => model.SpendProfile.MaxSingleTxnValue, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.DailyVelocity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SpendProfile.DailyVelocity, new { placeholder = "", @class = "form-control col-md-7 col-xs-12", @Value = (Model.SpendProfile.DailyVelocity > 0 ? Model.SpendProfile.DailyVelocity.ToString() : string.Empty) })
                                @Html.ValidationMessageFor(model => model.SpendProfile.DailyVelocity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.WeeklyVelocity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SpendProfile.WeeklyVelocity, new { placeholder = "", @class = "form-control col-md-7 col-xs-12", @Value = (Model.SpendProfile.WeeklyVelocity > 0 ? Model.SpendProfile.WeeklyVelocity.ToString() : string.Empty) })
                                @Html.ValidationMessageFor(model => model.SpendProfile.WeeklyVelocity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SpendProfile.MonthlyVelocity, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(model => model.SpendProfile.MonthlyVelocity, new { placeholder = "", @class = "form-control col-md-7 col-xs-12", @Value = (Model.SpendProfile.MonthlyVelocity > 0 ? Model.SpendProfile.MonthlyVelocity.ToString() : string.Empty) })
                                @Html.ValidationMessageFor(model => model.SpendProfile.MonthlyVelocity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <hr />
                        <div class="form-group">
                            <span class="control-label col-md-3 col-sm-3 col-xs-12 tdheading">Purchase Categories</span>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12"></div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <table>
                                    @for (int i = 0; i < Model.PurchaseCategories.Count(); i++)
                                    {
                                        <tr>
                                            <td style=" border:1px solid black">
                                                @Html.CheckBoxFor(m => m.PurchaseCategories[i].Selected)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(m => m.PurchaseCategories[i].Text)
                                                @Html.HiddenFor(m => m.PurchaseCategories[i].Value)
                                                @Html.HiddenFor(m => m.PurchaseCategories[i].Text)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>



                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-info">Submit</button>
                                @*<a class="btn btn-success" href="~/Product/Index">Back</a>*@
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
